{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
Experience – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<a class="govuk-!-margin-top-2" href="what-do-you-want-to-assess" style="font-size:16px;float:right"> Home</a>

{% endblock %}

{% block content %}
<form class="form" action="experience-how?method=experience" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
        What experience do you want to assess candidates on?
      </h1>

      <p class="govuk-body-m">You should use experience to assess a candidate's knowlege of an activity or subject gained through involvement in or exposure to it.</p>

      <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-2" id="exp1">
        {{ govukTextarea({
          label: {
            text: ""
          },
          id: "criteria-experience-1",
          rows: "3",
          name: "criteria-experience-1",
          value: data['criteria-experience-1']
        }) }}

        <a class="govuk-body-m" style="color:#1d70b8" onclick="showDiv('exp2')">Add another experience</a>

      </div>



      <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-2" id="exp2" style="display:none">
        {{ govukTextarea({
          label: {
            text: ""
          },
          id: "criteria-experience-2",
          rows: "3",
          name: "criteria-experience-2",
          value: data['criteria-experience-2']
        }) }}

        <a class="govuk-body-m" style="color:#1d70b8" onclick="showDiv('exp3')">Add another experience</a>
        <a class="govuk-body-m" style="color:#1d70b8;float:right" onclick="hideAndKillDiv('exp2','criteria-experience-2')">Remove</a>

      </div>


      <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-2" id="exp3" style="display:none">
        {{ govukTextarea({
          label: {
            text: ""
          },
          id: "criteria-experience-3",
          rows: "3",
          name: "criteria-experience-3",
          value: data['criteria-experience-3']
        }) }}



        <a class="govuk-body-m" style="color:#1d70b8;float:right" onclick="hideAndKillDiv('exp3','criteria-experience-3')">Remove</a>

      </div>

      <input type="hidden" name="exp1" value="true">
      <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Continue</button>

    </form>


    <script>
      function showDiv(div){
        document.getElementById(div).style.display = 'block';
      }

      function hideDiv(div){
        document.getElementById(div).style.display = 'none';
      }

      function hideAndKillDiv(div,element){
        document.getElementById(element).value = "";
        document.getElementById(div).style.display = 'none';
      }
    </script>

    {% endblock %}
