{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
My list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<a class="govuk-!-margin-top-2" href="what-do-you-want-to-assess" style="font-size:16px;float:right"> Home</a>
{% endblock %}

{% block content %}


<form class="form" action="#" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl ">
        You have 8 assessment items
      </h1>

      <div class="moj-scrollable-pane">
        <table class="govuk-table">
          <caption class="govuk-table__caption"><h2 style="color:#1d70b8" class="govuk-heading-m">Behaviours</h2></caption>

          <thead class="govuk-table__head">

            <tr class="govuk-table__row" style="background:#f3f2f1;border-bottom:1px solid black">
              <th scope="col" style="width:30%" class="govuk-table__header">Criteria</th>
              <th scope="col" style="width:30%" class="govuk-table__header">Application method</th>
              <th scope="col" style="width:20%" class="govuk-table__header">Interview method</th>
              <th scope="col" style="width:20%" class="govuk-table__header">Actions</th>
            </tr>

          </thead>
          <tbody class="govuk-table__body">





            {% set num = data['criteria-behaviours'] | length %}







            {% for items in data['criteria-behaviours'] | slice(1) %}
            {% for things in data['methods-behaviours-app'] | slice(1) %}



            <tr class="govuk-table__row">

              <td class="govuk-table__cell">{{ items }}</td>





              <td class="govuk-table__cell"> {{ things }}

  {% endfor %}

              </td>

              <td class="govuk-table__cell">{{ data['methods-behaviours-int']}}{{ data['methods-behaviours-int-1']}}</td>
              <td class="govuk-table__cell"><a href="behaviours-how">Change</a> | <a href="#">Delete</a></td>
              {% endfor %}


            </tr>

          </tbody>
        </table>
      </div>


      {% if data['method'] == "experience"  %}
      <div id = "exp" style="" class="moj-scrollable-pane">
        <table class="govuk-table">
          <caption class="govuk-table__caption"><h2 style="color:#1d70b8" class="govuk-heading-m">Experience</h2></caption>

          <thead class="govuk-table__head">

            <tr class="govuk-table__row" style="background:#f3f2f1;border-bottom:1px solid black">
              <th scope="col" style="width:30%" class="govuk-table__header">Criteria</th>
              <th scope="col" style="width:30%" class="govuk-table__header">Application method</th>
              <th scope="col" style="width:20%" class="govuk-table__header">Interview method</th>
              <th scope="col" style="width:20%" class="govuk-table__header">Actions</th>
            </tr>

          </thead>
          <tbody class="govuk-table__body">


            <tr class="govuk-table__row">

              <td class="govuk-table__cell">{{ data['criteria-experience-1'] }}</td>





              <td class="govuk-table__cell"> {{ data['methods-experience-app-1'] }}



              </td>

              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"><a href="">Change</a> | <a href="#">Delete</a></td>



            </tr>

          </tbody>
        </table>
      </div>
      {% endif %}

      {% if data['str'].length > 0  %}
      <div id = "strMethods" style="" class="moj-scrollable-pane">
        <table class="govuk-table">
          <caption class="govuk-table__caption"><h2 style="color:#1d70b8" class="govuk-heading-m">Strengths</h2></caption>

          <thead class="govuk-table__head">

            <tr class="govuk-table__row" style="background:#f3f2f1;border-bottom:1px solid black">
              <th scope="col" style="width:30%" class="govuk-table__header">Criteria</th>
              <th scope="col" style="width:30%" class="govuk-table__header">Application method</th>
              <th scope="col" style="width:20%" class="govuk-table__header">Interview method</th>
              <th scope="col" style="width:20%" class="govuk-table__header">Actions</th>
            </tr>

          </thead>
          <tbody class="govuk-table__body">


            <tr class="govuk-table__row">

              <td class="govuk-table__cell">{{ data['str'] }}</td>





              <td class="govuk-table__cell"> {{ data['sel-methods-strengths-a'] }}



              </td>

              <td class="govuk-table__cell">{{ data['sel-methods-strengths-i'] }}</td>
              <td class="govuk-table__cell"><a href="">Change</a> | <a href="#">Delete</a></td>



            </tr>

          </tbody>
        </table>
      </div>
      {% endif %}


      {% if data['Verbal reasoning ability'].length > 0  %}
      <div id = "strMethods" style="" class="moj-scrollable-pane">
        <table class="govuk-table">
          <caption class="govuk-table__caption"><h2 style="color:#1d70b8" class="govuk-heading-m">Abilities</h2></caption>

          <thead class="govuk-table__head">

            <tr class="govuk-table__row" style="background:#f3f2f1;border-bottom:1px solid black">
              <th scope="col" style="width:30%" class="govuk-table__header">Criteria</th>
              <th scope="col" style="width:30%" class="govuk-table__header">Application method</th>
              <th scope="col" style="width:20%" class="govuk-table__header">Interview method</th>
              <th scope="col" style="width:20%" class="govuk-table__header">Actions</th>
            </tr>

          </thead>
          <tbody class="govuk-table__body">


            <tr class="govuk-table__row">

              <td class="govuk-table__cell">{{ data['Verbal reasoning ability'] }}</td>





              <td class="govuk-table__cell">



              </td>

              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"><a href="">Change</a> | <a href="#">Delete</a></td>



            </tr>

          </tbody>
        </table>
      </div>
      {% endif %}

<div style="background:white;border-top:1px solid lightgrey;border-bottom:1px solid lightgrey;padding-top:20px;padding-bottom:20px">
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Add another assessment",
        href: "what-do-you-want-to-assess",
        classes: "govuk-button--secondary"
      }) }}

</div>
      <!-- <div class="govuk-!-margin-top-9">
        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue vacancy set-up"
        }) }}


      </form> -->

      {% endblock %}
