{% extends "layouts/main.html" %}

{% block pageTitle %}
How will you assess {{ data['method']}}? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Assessment items
    </h1>

{{ data['newArr'] }}


    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: "Sarah Philips"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "5 January 1978"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "date of birth"
              }
            ]
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: "72 Guild Street<br>London<br>SE23 6FH"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "address"
              }
            ]
          }
        },
        {
          key: {
            text: "Contact details"
          },
          value: {
            html: '<p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>'
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "contact details"
              }
            ]
          }
        }
      ]
    }) }}

    {% if data['criteria-experience'].length >0 %}
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title" style="font-size:24px;color:#1d70b8;">Experience</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:60%">
              <p class="govuk-body-m">{{ data['criteria-experience'] }}</p>
            </dt>
            <dd class="govuk-summary-list__value" style="width:30%">
              <p class="govuk-body-m"><strong>At application</strong></p>
              <ul class="govuk-list govuk-list--bullet">
                {% if data['methods-experience-app'] != "" %}
                {% for methoda in data['methods-experience-app'] %}
                <li>{{ methoda }}</li>
                {% endfor %}
                {% endif %}
              </ul>
              <p class="govuk-body-m"><strong>At interview</strong></p>
              <ul class="govuk-list govuk-list--bullet">
                {% if data['methods-experience-int'] != "" %}
                {% for methodb in data['methods-experience-int'] %}
                <li> {{ methodb }} </li>
              </ul>
              {% endfor %}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#" style="padding-right:10px">
                Change<span class="govuk-visually-hidden"> age</span>
              </a>
              <a class="govuk-link" href="#" style="padding-left:10px">
                Delete<span class="govuk-visually-hidden"> age</span>
              </a>
            </dd>
          </div>


        </dl>
      </div>
    </div>
    {% endif %}

    {% if data['criteria-ability'] !="" %}
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title" style="font-size:24px;color:#1d70b8;">Abilities</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:60%">
              <p class="govuk-body-m">{{ data['criteria-ability'] }}</p>
            </dt>
            <dd class="govuk-summary-list__value" style="width:30%">
              <p class="govuk-body-m"><strong>At application</strong></p>
              <ul class="govuk-list govuk-list--bullet">
                {% if data['ablMethods'] != "" %}
                {% for methoda in data['ablMethods'] %}
                <li>{{ methoda }}</li>
                {% endfor %}
                {% endif %}
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#" style="padding-right:10px">
                Change<span class="govuk-visually-hidden"> age</span>
              </a>
              <a class="govuk-link" href="#" style="padding-left:10px">
                Delete<span class="govuk-visually-hidden"> age</span>
              </a>
            </dd>
          </div>


        </dl>
      </div>
    </div>
    {% endif %}


    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Add another",
      href: "what-do-you-want-to-assess",
      classes: "govuk-button--secondary"
    }) }}


  </div>
</div>


{% endblock %}
