{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


{% block pageTitle %}
Select methods for sift – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}
<style>
  /* Example page specific styling. */
  p, div {
    font-family: "GDS Transport", arial, sans-serif;
    line-height: 1.2;
    margin: 0.8
  }
  p, li {
    font-size: 22px; line-height: 1.2;
    vertical-align: text-top;

  }


  h2 {
    font-size: 30px; line-height: 0.5;
    vertical-align: text-top;

  }

  h3 {
    font-size: 24px;
    line-height: 1.5;

  }

  label {
    font-size: 22px;
    line-height: 1;
    vertical-align: text-top;
  }


  input[type="checkbox"]:checked  {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: white;
    height: 40px;
    width: 40px;
    border: 2px solid black;
    color: black;
  }

  input[type="checkbox"]:after {
    content:"";
    position: absolute;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: 5px solid #000000;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    display: none;
  }

  input[type="checkbox"]:checked:after {
    display: block;
  }




</style>

<form class="form" action="select-methods-int" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">How will you assess at sift?</h1>
      <p class="govuk-body-l"><strong>Select how you will assess each element at sift.</strong></p>

      <p class="govuk-body-l">At sift, you have selected to assess:</p>


      <ul id="counter" style="" class="govuk-body-m govuk-list govuk-list--bullet"></ul>

      <div  class="govuk-!-margin-top-9" id="header1"></div>
      <div id="test"></div>


      <script>


        const siftStage = JSON.parse(window.sessionStorage.getItem("siftStage"));



        var siftOutput = document.getElementById("test");


        // for (things in intStage) {
        //   var headint = document.createElement("h3");
        //   headint.innerHTML = intStage[things];
        //   intOutput.appendChild(headint);
        // }


        var chkList = ['Personal statement','CV','Written example (250 words)']

        var skillsChkList = ['Application form','Personal statement','CV','Written example (250 words)','Casework Skills Test','Customer Service Skills Test'];
        var strengthsChkList = ['Civil Service Work Strengths Test'];
        var behavioursChkList = ['Personal statement','CV','Written example (250 words)','Civil Service Judgement Test','Civil Service Management Judgement Test'];
        var abilitiesChkList = ['Civil Service Numerical Test','Civil Service Verbal Test'];



        for (const [key, value] of Object.entries(siftStage)) {
          // console.log(`${value}: ${key}`);
          var headSift = document.createElement("p");
          headSift.innerHTML = `${value}: ${key}`;
          siftOutput.appendChild(headSift);

          if (`${value}` == "Strengths") {

            for (var i = 0; i < strengthsChkList.length; i++) {
              var label = document.createElement("label");
              var checkBox = document.createElement("input");
              checkBox.type = "checkbox";
              checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
              label.style.cssText = "display: block;padding-left: 15px;text-indent: 40px;";
              checkBox.value = strengthsChkList[i];
              checkBox.setAttribute("id","sift-"+i)
              checkBox.setAttribute("name",+"-"+siftStage)
              label.appendChild(document.createTextNode(strengthsChkList[i]));
              siftOutput.appendChild(label);
              siftOutput.appendChild(checkBox);
            }

          } else if (`${value}` == "Behaviours") {


            for (var i = 0; i < behavioursChkList.length; i++) {
              var label = document.createElement("label");
              var checkBox = document.createElement("input");
              checkBox.type = "checkbox";
              checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
              label.style.cssText = "display: block;padding-left: 15px;text-indent: 40px;";
              checkBox.value = behavioursChkList[i];
              checkBox.setAttribute("id","sift-"+i)
              checkBox.setAttribute("name",+"-"+siftStage)
              label.appendChild(document.createTextNode(behavioursChkList[i]));
              siftOutput.appendChild(label);
              siftOutput.appendChild(checkBox);
            }


          } else if (`${value}` == "Skills") {



            for (var i = 0; i < skillsChkList.length; i++) {
              var label = document.createElement("label");
              var checkBox = document.createElement("input");
              checkBox.type = "checkbox";
              checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
              label.style.cssText = "display: block;padding-left: 15px;text-indent: 40px;";
              checkBox.value = skillsChkList[i];
              checkBox.setAttribute("id","sift-"+i)
              checkBox.setAttribute("name",+"-"+siftStage)
              label.appendChild(document.createTextNode(skillsChkList[i]));
              siftOutput.appendChild(label);
              siftOutput.appendChild(checkBox);
            }

          } else if (`${value}` == "Experience") {

            for (var i = 0; i < chkList.length; i++) {
              var label = document.createElement("label");
              var checkBox = document.createElement("input");
              checkBox.type = "checkbox";
              checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
              label.style.cssText = "display: block;padding-left: 15px;text-indent: 40px;";
              checkBox.value = chkList[i];
              checkBox.setAttribute("id","sift-"+i)
              checkBox.setAttribute("name",+"-"+siftStage)
              label.appendChild(document.createTextNode(chkList[i]));
              siftOutput.appendChild(label);
              siftOutput.appendChild(checkBox);
            }

          }
          }















        </script>


        <button class="govuk-button govuk-!-margin-top-9" onclick="checkCheckboxesSift()" data-module="govuk-button">Continue</button>


      </div>
    </div>



  </form>

  {% endblock %}
