{% extends "layouts/main.html" %}

{% block pageTitle %}
We've found a match – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
<a style="float:right" href="results-prof">Alt-1</a>

{% endblock %}

{% block content %}
  <form action="/tempo" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

  <form action="/tempo" method="post">

    <h1 style="border-bottom:1px solid #1d70b8;padding-bottom:20px" class="govuk-heading-xl govuk-!-margin-bottom-6">We've found a match</h1>
    <p class="govuk-body-l"><strong>From the job details you've given, we've found a previous job advert you can use.</strong></p>


  <div id="first">

    <div style="">
      <div >
        <p class="govuk-body-m">Job title: <strong>Product manager</strong></p>
        <p class="govuk-body-m">Grade: <strong>SEO</strong></p>
        <p class="govuk-body-m">Profession: <strong>Project Management & Delivery</strong></p>
        <p class="govuk-body-m">Department: <strong>Cabinet Office</strong></p>
        <p class="govuk-body-m">Last used: <strong>2 months ago</strong></p>

        <p class="govuk-body-m"><strong>This job advert:</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li class="govuk-body-m" style="font-weight:bold">had a high number of completed applications</li>
          <li class="govuk-body-m" style="font-weight:bold">had a high number of shortlisted to interview candidates</li>
          <li class="govuk-body-m" style="font-weight:bold">created 2 reserve list candidates</li>
        </ul>

    <p style="font-weight:bold;padding-top:30px;border-top:1px solid #1d70b8" class="govuk-body-m govuk-!-margin-top-6">Would you like to use this template?</p>
  </div>
</div>
  </div>

  {{ govukRadios({
    idPrefix: "template",
    name: "template",
    fieldset: {
      legend: {
        text: "",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
      }
    },
    hint: {
      text: ""
    },
    items: [
      {
        value: "temp",
        text: "Use this template"
      },
      {
        value: "no",
        text: "No, I don't want to use a template"
      }
    ]
  }) }}


  {{ govukButton({
    text: "Continue",
    classes: "govuk-button govuk-!-margin-top-3"
  }) }}
</form>
  </div>

  </div>

{% endblock %}
