
<div id="select-exp" class="govuk-!-margin-top-6 govuk-!-margin-bottom-6"  style="display:block;padding-bottom:20px;border-bottom:1px solid grey">
  <H2 class="govuk-heading-l">Experience</H2>
  {{ govukTextarea({
    name: "criteria-exp-1",
    id: "criteria-exp-1",
    value: data['criteria-exp-1'],
    rows: "2",
    label: {
      text: "Experience 1",
      classes: "govuk-label--s",
      isPageHeading: false
    }
  }) }}

  {{ govukTextarea({
    name: "criteria-exp-2",
    id: "criteria-exp-2",
    value: data['criteria-exp-2'],
    rows: "2",
    label: {
      text: "Experience 2",
      classes: "govuk-label--s",
      isPageHeading: false
    }
  }) }}

  {{ govukTextarea({
    name: "criteria-exp-3",
    id: "criteria-exp-3",
    value: data['criteria-exp-3'],
    rows: "2",
    label: {
      text: "Experience 3",
      classes: "govuk-label--s",
      isPageHeading: false
    }
  }) }}
</div>
