{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
Select methods for sift – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}

<form class="form" action="select-methods-interview" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 id="h1Head" class="govuk-heading-xl">Select how to assess at sift</h1>
      <p class="govuk-body-l">At sift, you have chosen to assess:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>3 behaviours</li>
        <li>3 strengths</li>
        <li>2 experience</li>
      </ul>
      <p class="govuk-body-l">Sift is when you mark all applications to find the candidates best suited to the role's requirements and go on to interview.</p>

      <p class="govuk-body-l">You should choose the methods depending on what you have chosen to assess.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% set siftMethods = ['Personal statement','CV','Written example (250 words)','Online test'] %}



      {% set behavioursCritSiftArr = [] %}
      {% if (data['behaviours-crit1stage'].length > 0) and (data['behaviours-crit1stage'] === "sift") or (data['behaviours-crit1stage'].length > 0) and (data['behaviours-crit1stage'] === "both") %}
      {% set behavioursCritSiftArr = data['criteria-behaviours'] %}
      {% else %}
      {% endif %}

      {% if (data['behaviours-crit2stage'].length > 0 and data['behaviours-crit2stage'] === "sift") or (data['behaviours-crit2stage'].length > 0) and (data['behaviours-crit2stage'] === "both") %}
      {% set behavioursCritSiftArr = data['criteria-behaviours'] %}
      {% else %}
      {% endif %}

      {% if (data['behaviours-crit3stage'].length > 0 and data['behaviours-crit3stage'] === "sift") or (data['behaviours-crit3stage'].length > 0 and data['behaviours-crit3stage'] === "both") %}
      {% set behavioursCritSiftArr = data['criteria-behaviours'] %}
      {% else %}
      {% endif %}

      {% if (data['behaviours-crit4stage'].length > 0) and (data['behaviours-crit4stage'] === "sift") or (data['behaviours-crit4stage'].length > 0) and (data['behaviours-crit4stage'] === "both") %}
      {% set behavioursCritSiftArr = data['criteria-behaviours'] %}
      {% else %}
      {% endif %}

      {% if (data['behaviours-crit5stage'].length > 0 and data['behaviours-crit5stage'] === "sift") or (data['behaviours-crit5stage'].length > 0) and (data['behaviours-crit5stage'] === "both") %}
      {% set behavioursCritSiftArr = data['criteria-behaviours'] %}
      {% else %}
      {% endif %}

      {% if (data['behaviours-crit6stage'].length > 0) and (data['behaviours-crit6stage'] === "sift") or (data['behaviours-crit6stage'].length > 0) and (data['behaviours-crit6stage'] === "both") %}
      {% set behavioursCritSiftArr = data['criteria-behaviours']%}
      {% else %}
      {% endif %}

      {% if (data['behaviours-crit7stage'].length > 0) and (data['behaviours-crit7stage'] === "sift") or (data['behaviours-crit7stage'].length > 0) and (data['behaviours-crit7stage'] === "both") %}
      {% set behavioursCritSiftArr = data['criteria-behaviours'] %}
      {% else %}
      {% endif %}

      {% if (data['behaviours-crit8stage'].length > 0) and (data['behaviours-crit8stage'] === "sift") or (data['behaviours-crit8stage'].length > 0) and (data['behaviours-crit8stage'] === "both") %}
      {% set behavioursCritSiftArr = data['criteria-behaviours'] %}
      {% else %}
      {% endif %}


      {% set criteriaExpSiftArr = [] %}

      {% if (data['criteria-exp1stage'].length > 0) and (data['criteria-exp1stage'] === "sift") or (data['criteria-exp1stage'].length > 0)  and (data['criteria-exp1stage'] === "both") %}
      {% set criteriaExpSiftArr = (criteriaExpSiftArr.push(data['criteria-exp-1']), criteriaExpSiftArr) %}
      {% else %}
      {% endif %}

      {% if (data['criteria-exp2stage'].length > 0) and (data['criteria-exp2stage'] === "sift") or (data['criteria-exp2stage'].length > 0) and (data['criteria-exp2stage'] === "both") %}
      {% set criteriaExpSiftArr = (criteriaExpSiftArr.push(data['criteria-exp-2']), criteriaExpSiftArr) %}
      {% else %}
      {% endif %}

      {% if (data['criteria-exp3stage'].length > 0) and (data['criteria-exp3stage'] === "sift") or (data['criteria-exp3stage'].length > 0) and (data['criteria-exp3stage'] === "both") %}
      {% set criteriaExpSiftArr = (criteriaExpSiftArr.push(data['criteria-exp-3']), criteriaExpSiftArr) %}
      {% else %}
      {% endif %}



      {% if data['criteria-you-want'].length > 0 %}
      {% for items in data['criteria-you-want'] | slice(1) %}
      {% for item in items %}

      {% if item == "Behaviours" %}
      <div id="behSift">
        <h2 class="govuk-heading-l">Behaviours</h2>
        <p class="govuk-body-l"><strong>At sift</strong>, we recommend assessing behaviours by:</p>
        <ul class="govuk-list--bullet">
          <li><p class="govuk-body-l">written example (250 words)</p></li>
          <li><p class="govuk-body-l">personal statements</p></li>
          <li><p class="govuk-body-l">online tests</p></li>
        </ul>

        {% for acts in data['criteria-behaviours'] |slice(1) %}

        {% for act in acts %}

        <h3 class="govuk-heading-m govuk-!-margin-top-6" style="padding-bottom:20px;border-bottom:1px solid grey">{{loop.index}}. {{ act }}</h3>
        {% for ahems in siftMethods | slice(1) %}
        {% for aha in ahems %}

        {{ govukCheckboxes({
          name: "selectMethods"+loop.index,
          id: "selectMethods"+loop.index,
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m govuk-body govuk-!-font-weight-regular"
            }
          },
          items: [
          {
            checked: checked('selectMethods'+loop.index,aha),
            value: aha,
            text: aha
          }
          ]
        }) }}
        {% endfor %}{% endfor %}{% endfor %}{% endfor %}

      </div>


      {% elif item == "Strengths" %}
      <div id="strSift">

        <h2 class="govuk-heading-l">Strengths</h2>
          <p class="govuk-body-l">We recommend assessing strengths with the Civil Service Work Strengths Test.</p>
        <h3 class="govuk-heading-m govuk-!-margin-top-6" style="padding-bottom:20px;border-bottom:1px solid grey">1. Visionary</h3>
        {{ govukCheckboxes({
          name: "strSelectMethods"+[loop.index]+"sift",
          id: "strSelectMethods"+[loop.index]+"sift",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m govuk-body govuk-!-font-weight-regular"
            }
          },
          items: [
          {
            checked: checked("strSelectMethods"+[loop.index]+"sift",'Personal statement'),
            value: "Personal statement",
            text: "Personal statement"
          },
          {
            checked: checked("strSelectMethods"+[loop.index]+"sift",'CV'),
            value: "CV",
            text: "CV"
          },
          {
            checked: checked("strSelectMethods"+[loop.index]+"sift",'Online test'),
            value: "Online test",
            text: "Online test"
          }
          ]
        }) }}

        <h3 class="govuk-heading-m govuk-!-margin-top-6" style="padding-bottom:20px;border-bottom:1px solid grey">2. Change agent</h3>
        {{ govukCheckboxes({
          name: "strSelectMethods"+[loop.index]+"sift",
          id: "strSelectMethods"+[loop.index]+"sift",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m govuk-body govuk-!-font-weight-regular"
            }
          },
          items: [
          {
            checked: checked("strSelectMethods"+[loop.index]+"sift",'Personal statement'),
            value: "Personal statement",
            text: "Personal statement"
          },
          {
            checked: checked("strSelectMethods"+[loop.index]+"sift",'CV'),
            value: "CV",
            text: "CV"
          },
          {
            checked: checked("strSelectMethods"+[loop.index]+"sift",'Online test'),
            value: "Online test",
            text: "Online test"
          }
          ]
        }) }}

        <h3 class="govuk-heading-m govuk-!-margin-top-6" style="padding-bottom:20px;border-bottom:1px solid grey">3. Authentic</h3>


        {{ govukCheckboxes({
          name: "strSelectMethods"+[loop.index]+"sift",
          id: "strSelectMethods"+[loop.index]+"sift",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m govuk-body govuk-!-font-weight-regular"
            }
          },
          items: [
          {
            checked: checked("strSelectMethods"+[loop.index]+"sift",'Personal statement'),
            value: "Personal statement",
            text: "Personal statement"
          },
          {
            checked: checked("strSelectMethods"+[loop.index]+"sift",'CV'),
            value: "CV",
            text: "CV"
          },
          {
            checked: checked("strSelectMethods"+[loop.index]+"sift",'Online test'),
            value: "Online test",
            text: "Online test"
          }
          ]
        }) }}

      </div>

      {% elif item == "Experience" %}

      <div id="expSift">
        <h2 class="govuk-heading-l">Experience</h2>
        {% for eons in criteriaExpSiftArr | slice(1) %}
        {% for eon in eons %}


        <h3 class="govuk-heading-m" style="padding-bottom:20px;border-bottom:1px solid grey">{{loop.index}}. {{ eon }}</h3>

        {% for choices in siftMethods | slice(1) %}
        {% for choice in choices %}

        {{ govukCheckboxes({
          name: "selectMethods"+loop.index+"Sift",
          id: "selectMethods"+loop.index+"Sift",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
          {
            checked: checked("selectMethods"+loop.index+"Sift",choice),
            value: choice,
            text: choice
          }
          ]
        }) }}
        {% endfor %}{% endfor %}{% endfor %}{% endfor %}

      </div>

      {% elif item == "Abilities" %}
      <div class="govuk-!-margin-top-9" id="ablSift" style="border-bottom:1px solid grey;border-top:1px solid grey">

        <h2 class="govuk-heading-l govuk-!-margin-top-6">Abilities</h2>
        <p class="govuk-body-m">We recommend assessing abilities with online tests.</p>

      </div>

      {% elif item == "Skills" %}
      <div id="sklSift">
        <h2 class="govuk-heading-l">Skills</h2>
        <h3 class="govuk-heading-m" style="padding-bottom:20px;border-bottom:1px solid grey">1. Project management</h3>

        {{ govukCheckboxes({
          name: "strSelectMethods"+[loop.index]+"sift",
          id: "strSelectMethods"+[loop.index]+"sift",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m govuk-body govuk-!-font-weight-regular"
            }
          },
          items: [
          {
            checked: checked("strSelectMethods"+[loop.index]+"sift",'Personal statement'),
            value: "Personal statement",
            text: "Personal statement"
          },
          {
            checked: checked("strSelectMethods"+[loop.index]+"sift",'CV'),
            value: "CV",
            text: "CV"
          },
          {
            checked: checked("strSelectMethods"+[loop.index]+"sift",'Written example (250 words)'),
            value: "Written example (250 words)",
            text: "Written example (250 words)"
          },
          {
            checked: checked("strSelectMethods"+[loop.index]+"sift",'Online test'),
            value: "Online test",
            text: "Online test"
          }
          ]
        }) }}

      </div>

    {% endif %}{% endfor %}{% endfor %}{% endif %}

      <div class="govuk-!-margin-top-9 govuk-!-bottom-top-6">
        {{ govukButton({
          text: "Continue",
          href: "select-methods-interview"
        }) }}
      </div>
      <BR><BR>

        <div class="govuk-!-margin-bottom-0 govuk-!-margin-top-3" style="background:white;border:1px solid grey;border-radius:8px;padding:20px">
          <h2 class="govuk-heading-l">Do you want to add another assessment stage?</h2>

          {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "siftStage",
            id: "siftStage",
            fieldset: {
              legend: {
                text: "You can add another assessment stage after you have sifted applications.",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-3"
              }
            },
            hint: {
              text: "This can be helpful if you have a big campaign."
            },
            items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked('siftStage','Yes')
            },
            {
              value: "no",
              text: "No",
              checked: checked('siftStage','No')
            }
            ]
          }) }}

          {{ govukButton({
            text: "Continue",
            href: "select-methods-sift-stages",
            classes: "govuk-button--secondary"
          }) }}

        </div>
      </div>
    </div>



</form>
{% endblock %}
