{% extends "layouts/main.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

<a style="float:right;padding-top:10px" href="select-your-criteria">Alt</a>
{% endblock %}

{% block content %}
<form class="form" action="select-strengths" method="post">


  <div id="top" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9 govuk-!-margin-top-6">

      <nav>
      {% for items in data['criteria-you-want'] |slice(1) %}

      <ul class="govuk-list govuk-list--bullet-" style="font-size:22px;display: inline;">
        {% for item in items %}

        <li style="text-align: left;display: inline;"><a href="select-{{item | lower}}"><p style="color:#1d70b8;font-size:22px;float:left;padding-right:40px">{{ item }}</p></a></li>
        {% endfor %}
        </ul>
        {% endfor %}
      </nav>

      <h1 class="govuk-heading-xl govuk-!-margin-top-9">Skills</h1>


                {{ govukTextarea({
                  label: {
                    text: "Technical skill 1"
                  },
                  id: "criteria-technical-1",
                  rows: "2",
                  name: "criteria-technical-1",
                  value: data['criteria-technical-1']
                }) }}



                {{ govukTextarea({
                  label: {
                    text: "Technical skill 2"
                  },
                  id: "criteria-technical-2",
                  rows: "2",
                  name: "criteria-technical-2",
                  value: data['criteria-technical-2']
                }) }}



                {{ govukTextarea({
                  label: {
                    text: "Technical skill 3"
                  },
                  id: "criteria-technical-3",
                  rows: "2",
                  name: "criteria-technical-3",
                  value: data['criteria-technical-3']
                }) }}

      </div>
</div>
      <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Continue</button>

</form>

{% endblock %}
