{% extends "layouts/main.html" %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}





{% set pageName="Home" %}
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'

}) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">Civil Service Jobs</h2>
    <h1 class="govuk-heading-xl">Assessment methods prototype</h1>


    {% set tagGreen %}
    <strong class="govuk-tag govuk-tag--green">
      tested
    </strong>

    {% endset -%}

    {% set tagGrey %}
    <strong class="govuk-tag govuk-tag--grey">
      not tested yet
    </strong>

    {% endset -%}

    {% set current %}
    <strong style="font-size:14px" class="govuk-tag govuk-tag--">
      in—production
    </strong>

    <h2 class="govuk-heading-l govuk-!-margin-top-3"><a href="/v03/pick-criteria-type">v.03</a></h2>

    <div style="">
      {{ govukButton({
        classes: "govuk-!-margin-top-3",
        href:"/v03/pick-criteria-type",
        text: "Launch prototype"
      }) }}
    </div>



    <p class="govuk-body-m govuk-!-margin-top-6">This iteration will improve or fine-tune the following aspects of v.02, based on insight...</p>

      {% endset -%}




      {% set versions %}

      <h2 class="govuk-heading-l govuk-!-margin-top-6">Version history</h2>

      <table class="govuk-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Version</th>
            <th scope="col" class="govuk-table__header">Tested on</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>






        <tbody class="govuk-table__body">


          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><strong><a href="/v02/what-essential-criteria-do-you-want">v.02—Cristina's concept</a></strong></td>
            <td class="govuk-table__cell ">06-11 April 2023</td>
            <td class="govuk-table__cell "><strong class="govuk-tag govuk-tag--green">
              tested
            </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><strong><a href="/v01/start">v.01—Mark's model</a></strong></td>
            <td class="govuk-table__cell ">24-27 March 2023</td>
            <td class="govuk-table__cell "><strong class="govuk-tag govuk-tag--green">
              tested
            </strong></td>
          </tr>
        </tbody>
      </table>

      {% endset -%}

      {% set notes %}


<div class="govuk-!-margin-top-3 govuk-!-margin-bottom-3"  style="display:none;background: #f3f2f1;border:1px solid #bdbdbd;padding:10px">
  jump to links.
  </div>


      <div style="border:1px solid #bdbdbd;padding:30px">

        <span class="govuk-caption-m">April 2023</span>
        <h2 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-6">v.02—Cristina's concept</h2>



        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters" style="border-right:1px solid #bdbdbd">
            <h3 class="govuk-heading-m">Design questions</h3>

            <h3 class="govuk-heading-s" style="text-decoration: underline">Would blah blah  </h3>

            <p class="govuk-body-m">Quisque placerat facilisis egestas cillum dolore. Cras mattis iudicium purus sit amet fermentum. Praeterea iter est quasdam res quas ex communi.
              Pellentesque habitant morbi tristique senectus et netus. Idque Caesaris facere voluntate liceret: sese habere. Tu quoque, Brute, fili mi, nihil timor populi, nihil! At nos hinc posthac, sitientis piros Afros. Hi omnes lingua, institutis, legibus inter se differunt.</p>

              <h3 class="govuk-heading-s">What we tried</h3>
              <p class="govuk-body-m">Quisque placerat facilisis egestas cillum dolore. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</p>
              <h3 class="govuk-heading-s">What we found</h3>
              <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>

            </div>
            <div class="govuk-grid-column-one-quarter">
              <h3 class="govuk-heading-s">Assets</h3>

              <ul class="govuk-list">
                <li><p class="govuk-body-m"><a class="govuk-link" href="#">Launch prototype</a></p></li>
                <li><p class="govuk-body-m"><a class="govuk-link" href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1678651584974/02e1ee560166d60550bb2f2321bdb10254af5092?wid=0-1678816021622">Concept Mural</a></p></li>
                <li><p class="govuk-body-m"><a class="govuk-link" href="#">Testing Mural</a></p></li>

              </ul>



            </div>
          </div>
        </div>

        <div class="govuk-!-margin-top-6" style="border:1px solid #bdbdbd;padding:30px">

            <span class="govuk-caption-m">March 2023</span>
            <h2 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-6">v.01—Mark's model</h2>


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters" style="border-right:1px solid #bdbdbd">
                <h3 class="govuk-heading-m">Design questions</h3>

                <h3 class="govuk-heading-s" style="text-decoration: underline">Would blah blah  </h3>

                <p class="govuk-body-m">Quisque placerat facilisis egestas cillum dolore. Cras mattis iudicium purus sit amet fermentum. Praeterea iter est quasdam res quas ex communi.
                  Pellentesque habitant morbi tristique senectus et netus. Idque Caesaris facere voluntate liceret: sese habere. Tu quoque, Brute, fili mi, nihil timor populi, nihil! At nos hinc posthac, sitientis piros Afros. Hi omnes lingua, institutis, legibus inter se differunt.</p>

                  <h3 class="govuk-heading-s">What we tried</h3>
                  <p class="govuk-body-m">Quisque placerat facilisis egestas cillum dolore. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</p>
                  <h3 class="govuk-heading-s">What we found</h3>
                  <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>

                </div>
                <div class="govuk-grid-column-one-quarter">
                  <h3 class="govuk-heading-s">Assets</h3>

                  <ul class="govuk-list">
                    <li><p class="govuk-body-m"><a class="govuk-link" href="#">Launch prototype</a></p></li>
                    <li><p class="govuk-body-m"><a class="govuk-link" href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1678651584974/02e1ee560166d60550bb2f2321bdb10254af5092?wid=0-1678652630615">Concept Mural</a></p></li>
                    <li><p class="govuk-body-m"><a class="govuk-link" href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1679588279182/6484ca94573865c67b5583e9eaa1254ce1a6ede2?sender=u9d7a8583663a3236872e1924">Testing Mural</a></p></li>

                  </ul>


                </div>
              </div>
            </div>



            {% endset -%}












              {% set backstory %}

              <p class="govuk-body-m">Prima luce, cum quibus mons aliud consensu ab eo. Mercedem aut nummos unde unde extricat, amaras. Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Quae vero auctorem tractata ab fiducia dicuntur. Paullum deliquit, ponderibus modulisque suis ratio utitur.
At nos hinc posthac, sitientis piros Afros. Hi omnes lingua, institutis, legibus inter se differunt. Tu quoque, Brute, fili mi, nihil timor populi, nihil! Non equidem invideo, miror magis posuere velit aliquet. Plura mihi bona sunt, inclinet, amari petere vellent. A communi observantia non est recedendum.
Pellentesque habitant morbi tristique senectus et netus. Fictum, deserunt mollit anim laborum astutumque! Excepteur sint obcaecat cupiditat non proident culpa.</p>

              {% endset -%}

              {{ govukTabs({
                items: [
                {
                  label: "Current",
                  id: "current",
                  panel: {
                    html: current
                  }
                },
                {
                  label: "Version history",
                  id: "Versions",
                  panel: {
                    html: versions
                  }
                },
                {
                  label: "Iteration notes",
                  id: "notes",
                  panel: {
                    html: notes
                  }
                },

                {
                  label: "Backstory",
                  id: "backstory",
                  panel: {
                    html: backstory
                  }
                }
                ]
              }) }}
            </div>
          </div>

          {% endblock %}
