{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}


{% block pageTitle %}
Recommendations – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

<a style="float:right;padding-left:40px" href="recommendations-alt-prefilled">Alt-1</a>

{% endblock %}

{% block content %}
<form class="form" action="#" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-m govuk-!-margin-bottom-3 govuk-!-margin-top-1">Product manager (Grade 7)</span>
      <h1 class="govuk-heading-xl">Assessment methods recommendations</h1>
      <p class="govuk-body-l">Based on the job details you have given. We recommend the following assessment methods at sift and interview.</p>

      <div style="border-left:1px solid #1d70b8;padding-left:20px" class="govuk-!-margin-top-6 govuk-!-margin-bottom-3">
        <ul class="govuk-list">
          <li><p class="govuk-body-l"><strong>For the Communications field:</strong><br>We recommend using the Customer Service Skills Test.</p></li>
          <li><p class="govuk-body-l"><strong>For a popular role:</strong><br>We recommend using 2 online tests at sift to narrow down a large pool of applicants.</p></li>
          <li><p class="govuk-body-l"><strong>For a role with high turnover:</strong><br>We recommend assessing strengths at sift. Candidates with matching strengths are more likely to be engaged and resilient.</p></li>
          <li><p class="govuk-body-l"><strong>For a role with line management responsibilities:</strong><br>We recommend assessing the behaviour <strong>Leadership</strong> at sift and interview.</p></li>
        </ul>


      </div>

      {{ govukButton({
      classes: "govuk-!-margin-top-6",
      text: "Continue",
      href: "#"
      }) }}
    </div>
  </div>
  {% endblock %}
