{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}


{% block pageTitle %}
Recommendations – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

<a style="float:right;padding-left:40px" href="recommendations-alt-prefilled">Alt-1</a>

{% endblock %}

{% block content %}
<form class="form" action="#" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-m govuk-!-margin-bottom-3 govuk-!-margin-top-1">Product manager (SEO)</span>
      <h1 class="govuk-heading-xl">Recommendations for assessment methods</h1>
      <p class="govuk-body-m">Based on the job details you have given. We recommend the following assessment methods at sift and interview.</p>
      <h2 class="govuk-heading-l" >Sift</h2>
      <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-3">
        <ul class="govuk-list">
          <li><p class="govuk-body-m"><strong>For the Project management & delivery field:</strong><br>We recommend using the Civil Service Customer Service online test.</p></li>
          <li><p class="govuk-body-m"><strong>For a popular role:</strong><br>We recommend using 2 online tests at sift.</p></li>
          <li><p class="govuk-body-m"><strong>For a role with high turnover:</strong><br>We recommend assessing strengths at sift. Candidates with matching strengths are more likely to be engaged and resilient.</p></li>
          <li><p class="govuk-body-m"><strong>For a role with line management responsibilities:</strong><br>We recommend assessing the behaviour <strong>Leadership</strong> at sift.</p></li>
        </ul>
        <h2 class="govuk-heading-l" >Interview</h2>
        <ul class="govuk-list">
          <li><p class="govuk-body-m"><strong>For a role with line management responsibilities:</strong><br>We recommend assessing the behaviour <strong>Leadership</strong> at interview.</p></li>
        </ul>
      </div>

      {{ govukButton({
      classes: "govuk-!-margin-top-6",
      text: "Continue",
      href: "#"
      }) }}
    </div>
  </div>
  {% endblock %}
