{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %}
Select methods for sift – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}
{% block content %}

<script>
  for (var n=1; n!=2; n++) {

    var header1 = document.createElement("h2");
    header1.innerText = exp;

    for (var sif3 = 0; sif3 < siftTstVars.length; ++sif3) {

      var header2 = document.createElement("h3");
      header2.innerText = siftTstVars2[sif3];

      for (var i = 0; i < chkList.length; i++) {
        var label = document.createElement("label");
        var checkBox = document.createElement("input");
        checkBox.type = "checkbox";
        checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
        label.style.cssText = "display: block;font-size:22px;padding-left: 15px;text-indent: 40px;";
        checkBox.value = chkList[i];
        label.appendChild(document.createTextNode(chkList[i]));
        hea2.appendChild(label);
        hea2.appendChild(checkBox);
        hea2.appendChild(header2);
        hea2.appendChild(header1);
      }
    }
  }
</script>
{% endblock %}
