{% extends "layouts/main.html" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
Select your criteria – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



{% set testRay = [] %}
{% set strengths = [
    {
      id: 1,
      title: "Challenger",
      description: "Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest."
    },
    {
      id: 2,
      title: "Strategic",
      description: "You look at the big picture and consider the wider factors and long term implications of decisions."
    },
    {
      id: 3,
      title: "Mission",
      description: "You pursue things which give you a sense of meaning and purpose, working towards a longer term goal."
    },
    {
      id: 4,
      title: "Visionary",
      description: "You create and share a clear vision of the future."
    },
    {
      id: 5,
      title: "Change agent",
      description: "You are positive and inspirational in leading and supporting others through change."
    },
    {
      id: 6,
      title: "Authentic",
      description: "You are self-aware and true to yourself in all situations, even when under pressure."
    },
    {
      id: 7,
      title: "Emotionally intelligent",
      description: "You draw insight from your own emotions and those of others to demonstrate empathy."
    },
    {
      id: 8,
      title: "Inclusive",
      description: "You recognise everyone as an individual, accepting people for who they are and treating everyone fairly. You actively encourage and provide opportunities for others to share ideas and contributions."
    },
    {
      id: 9,
      title: "Influencer",
      description: "You influence others, you articulate the rationale to gain their agreement."
    },
    {
      id: 10,
      title: "Problem solver",
      description: "You take a positive approach to tackling problems and find ways to identify suitable solutions."
    },
    {
      id: 11,
      title: "Catalyst",
      description: "You are self-motivated to act to achieve a goal. You are confident using your own initiative to take forward actions."
    },
    {
      id: 12,
      title: "Enabler",
      description: "You see the potential in everybody and encourage them to learn, progress and develop."
    },
    {
      id: 12,
      title: "Motivator",
      description: "You are highly driven and inspire others to move things along and make things happen."
    },
    {
      id: 13,
      title: "Adaptable",
      description: "You can adapt to variations in work or environment and your effectiveness is not impacted by change. You are flexible and versatile and act as an advocate for change."
    },
    {
      id: 14,
      title: "Disciplined",
      description: "You follow processes, operating firmly within set standards, rules and guidelines."
    }
    ] %}
<form class="form" action="#" method="post">
  <div>
  <div id="autocomplete-default" class="govuk-form-group govuk-input--width-30" name="autocomplete-default">
    <label for="autocomplete-default" class="govuk-label--m"></label>
    <div id="jobtitle" class="autocomplete-wrapper"></div>


    {% if data['temp-copy-input-autocomplete'] === strengths.title %}

    {% set testRay = (testRay.push(items.title), testRay) %}
    {% endif %}
  {{ testRay | dump }}



  </div>






<a href="#" type="button" style="float:right" class="govuk-button govuk-button--secondary">add</a>

  </div>
  </form>
  <script src="/public/javascripts/temp-copy.js"></script>
  <script src="/public/javascripts/temp.js"></script>

  {% endblock %}
