{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block pageTitle %}
Select criteria stage – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<form class="form" action="selection-criteria-summary" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">
        How do you want to assess these behaviours?
      </h1>
      <p class="govuk-body-m">Select how you would like to assess each behaviour.</p>
















      {% set behavioursStage = [
            {
              stage: "Sift",
              behaviours: data['criteria'].behaviours
            },
            {
              stage: "Interview",
              behaviours: data['criteria'].behaviours
            },
            {
              stage: "Both",
              behaviours: data['criteria'].behaviours
            } ] %}





{% set count = 0 %}

          {% for crits in data['criteria'].behaviours | slice(1) %}
          {% for crit in crits %}



          <h2 class="govuk-heading-l">
            {{ crit }}
          </h2>

          {% for items in behavioursStage |slice(1) %}




              {{ govukRadios({
                classes: "govuk-radios--inline",
                name: behaviours['stage'],
                fieldset: {
                  legend: {
                    text: "",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    name: "Sift"+crit+count,
                    value: items.stage,
                    text: "Sift",
                    checked: checked("behaviours['stage']", items.stage)
                  },
                  {
                    name: "Sift"+crit+count,
                    value: items.stage,
                    text: "Interview",
                    checked: checked("behaviours['stage']", items.stage)
                  },
                  {
                    name: "Sift"+crit+count,
                    id: crit+items.stage,
                    value: items.stage,
                    text: "Both",
                    checked: checked("behaviours['stage']", items.stage)
                  }
                ]
              }) }}

{% set count = count+1 %}

              {% endfor %}

{% set count = count+1 %}
              {% endfor %}

              {% endfor %}




      <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Continue</button>
    </form>
    {% endblock %}
