{% set notes %}


<div class="govuk-!-margin-top-1 govuk-!-margin-bottom-3"  style="background:#F4FAFF;;border:1px solid #1d70b8;padding:10px">

<ul class="govuk-list" style="font-size:18px;display: inline;">
<li style="text-align: left;display: inline;padding-right:30px">Jump to:</li>
<li style="text-align: left;display: inline;padding-right:30px;"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#v05"><strong>v.05—May-Jun</a></li>
<li style="text-align: left;display: inline;padding-right:30px;border-left:1px solid black;padding-left:15px"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#v04"><strong>v.04—May</a></li>
<li style="text-align: left;display: inline;padding-right:30px;border-left:1px solid black;padding-left:15px"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#v03"><strong>v.03—Apr-May</strong></a></li>
<li style="text-align: left;display: inline;padding-right:30px;border-left:1px solid black;padding-left:15px"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#v02"><strong>v.02—Apr</strong></a></li>
<li style="text-align: left;display: inline;padding-right:30px;border-left:1px solid black;padding-left:15px"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#v01"><strong>v.01—Mar</strong></a></li>
</ul>
</div>

<div class="govuk-!-margin-bottom-6" style="border:1px solid #1d70b8;padding:30px">
    <span style="float:right" class="govuk-caption-m govuk-!-margin-bottom-6">May-June 2023</span>

  <h2 id="v05" style="" class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v05/home">v.05.</a></h2>
<span  class="govuk-caption-xl govuk-!-margin-bottom-6">'Persuasive principles' recommendation concept</span>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters" style="border-right:1px solid #1d70b8">
      <h3 class="govuk-heading-m">Assumptions</h3>
      <p class="govuk-body-m"></p>
      <h3 class="govuk-heading-m">Hypotheses</h3>
      <p class="govuk-body-m"></p>
      <h3 class="govuk-heading-m">Design direction</h3>
      <p class="govuk-body-m"></p>
      <h3 class="govuk-heading-m">Method</h3>
      <p class="govuk-body-m"></p>
      <h3 class="govuk-heading-m">Results</h3>
      <h4 class="govuk-heading-s">What worked well</h4>
      <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>

      <h4 class="govuk-heading-s">What didn't work well</h4>
      <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>

      <h4 class="govuk-heading-s">Decisions</h4>
      <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
<h3 class="govuk-heading-m">Assets</h3>
<ul class="govuk-list govuk-list--bullet">
<li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#"><strong>Test report</a></li>
<li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#"><strong>Playback recording</a></li>
<li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#"><strong>Test session Mural</a></li>
  <li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#"><strong>Concept Mural</a></li>
</ul>
    </div>
  </div>
</div>


<div class="govuk-!-margin-bottom-6" style="border:1px solid #1d70b8;padding:30px">
  <span style="float:right" class="govuk-caption-m govuk-!-margin-bottom-6">May 2023</span>

  <h2 id="v04" style="" class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v04/start">v.04.</a></h2>
<span  class="govuk-caption-xl govuk-!-margin-bottom-6">Library-template and recommendation concepts</span>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters" style="border-right:1px solid #1d70b8">
      <h3 class="govuk-heading-m">Assumptions</h3>
      <p class="govuk-body-m"></p>
      <h3 class="govuk-heading-m">Hypotheses</h3>
      <p class="govuk-body-m"></p>
      <h3 class="govuk-heading-m">Design direction</h3>
      <p class="govuk-body-m"></p>
      <h3 class="govuk-heading-m">Method</h3>
      <p class="govuk-body-m"></p>
      <h3 class="govuk-heading-m">Results</h3>
      <h4 class="govuk-heading-s">What worked well</h4>
      <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>

      <h4 class="govuk-heading-s">What didn't work well</h4>
      <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>

      <h4 class="govuk-heading-s">Decisions</h4>
      <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
<h3 class="govuk-heading-m">Assets</h3>
<ul class="govuk-list govuk-list--bullet">
<li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#"><strong>Test report</a></li>
<li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#"><strong>Playback recording</a></li>
<li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#"><strong>Test session Mural</a></li>
  <li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#"><strong>Concept Mural</a></li>
</ul>
    </div>
  </div>
</div>

<div id="v03" class="govuk-!-margin-bottom-6" style="border:1px solid #1d70b8;padding:30px">
  <span style="float:right" class="govuk-caption-m govuk-!-margin-bottom-6">April-May 2023</span>

  <h2 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v03/pick-criteria-type">v.03.</a></h2>
  <span  class="govuk-caption-xl govuk-!-margin-bottom-6">Consolidation sprint</span>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters" style="border-right:1px solid #1d70b8">
      <h3 class="govuk-heading-m">Assumptions</h3>
      <p class="govuk-body-m"></p>
      <h3 class="govuk-heading-m">Hypotheses</h3>
      <p class="govuk-body-m"></p>
      <h3 class="govuk-heading-m">Design direction</h3>
      <p class="govuk-body-m"></p>
      <h3 class="govuk-heading-m">Method</h3>
      <p class="govuk-body-m"></p>
      <h3 class="govuk-heading-m">Results</h3>
      <h4 class="govuk-heading-s">What worked well</h4>
      <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>

      <h4 class="govuk-heading-s">What didn't work well</h4>
      <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>

      <h4 class="govuk-heading-s">Decisions</h4>
      <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
<h3 class="govuk-heading-m">Assets</h3>
<ul class="govuk-list govuk-list--bullet">
<li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#"><strong>Test report</a></li>
<li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#"><strong>Playback recording</a></li>
<li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#"><strong>Test session Mural</a></li>
  <li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#"><strong>Concept Mural</a></li>
</ul>
    </div>
  </div>
</div>

<div id="v02" style="border:1px solid #1d70b8;padding:30px">
  <span style="float:right" class="govuk-caption-m govuk-!-margin-bottom-6">April 2023</span>

  <h2 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v02/what-essential-criteria-do-you-want">v.02.</a></h2>
  <span  class="govuk-caption-xl govuk-!-margin-bottom-6">Cristina's concept</span>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters" style="border-right:1px solid #1d70b8">
      <h3 class="govuk-heading-m">Assumptions</h3>
      <p class="govuk-body-m"></p>
      <h3 class="govuk-heading-m">Hypotheses</h3>
      <p class="govuk-body-m"></p>
      <h3 class="govuk-heading-m">Design direction</h3>
      <p class="govuk-body-m"></p>
      <h3 class="govuk-heading-m">Method</h3>
      <p class="govuk-body-m"></p>
      <h3 class="govuk-heading-m">Results</h3>
      <h4 class="govuk-heading-s">What worked well</h4>
      <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>

      <h4 class="govuk-heading-s">What didn't work well</h4>
      <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>

      <h4 class="govuk-heading-s">Decisions</h4>
      <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
<h3 class="govuk-heading-m">Assets</h3>
<ul class="govuk-list govuk-list--bullet">
<li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#"><strong>Test report</a></li>
<li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#"><strong>Playback recording</a></li>
<li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#"><strong>Test session Mural</a></li>
  <li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#"><strong>Concept Mural</a></li>
</ul>
    </div>
  </div>
</div>





<div id="v01" class="govuk-!-margin-top-3" style="background:#1d70b8;border:1px solid #1d70b8;padding:30px">
<div style="margin-top:40px;float:right; ">
<ul class="govuk-list govuk-list--bullet-" >
<li style="height:20px;margin-top:5px"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" style="border:1px solid white;background:white;border-radius:5px;color:#1d70b8;padding:5px " href="#"><strong>Test report</a></li>
<li style="height:20px;margin-top:25px"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" style="border:1px solid white;background:white;border-radius:5px;color:#1d70b8;padding:5px" href="#"><strong>Playback recording</a></li>
<li style="height:20px;margin-top:25px"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" style="border:1px solid white;background:white;border-radius:5px;color:#1d70b8;padding:5px " href="#"><strong>Test session Mural</a></li>
<li style="height:20px;margin-top:25px"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" style="border:1px solid white;background:white;border-radius:5px;color:#1d70b8;padding:5px  " href="#"><strong>Concept Mural</a></li>
</ul>
    </div>

    <h2 class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state"  style="size:48px;font-weight:bold;color:white;" href="/v01/start">v.01.</a></h2>
  <h1 style="font-size:58px;color:white;font-weight:bold;" class="govuk-heading-xl govuk-!-margin-bottom-3">Mark's model</h1>
<span style="color:white;font-weight:bold;;margin-right:30px" class="govuk-caption-l">24-27 March 2023</span>
  <strong  style="border:1px solid white;margin-top:20px;font-size:28px;" class="govuk-tag govuk-tag">
    tested
  </strong>

</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-0" >

      <div style="border:1px solid #1d70b8;padding:30px">
      <h3 class="govuk-heading-m">Assumptions</h3>
      <p class="govuk-body-m">The gap between the selection of criteria and methods in the most-recent campaign-set-up prototype is too wide, and likely to make it impossible for users to maintain the context of their task.</p>
      <p class="govuk-body-m">We believe users would be open to the idea of accepting a recommendation when choosing assessment methods.</p>
      <h3 class="govuk-heading-m">Hypotheses</h3>
<ul class="govuk-list govuk-list--number">

      <li>We believe that if we provide a way for users to select their criteria, method of assessment and when they will assess (sift vs. interview) in a more unified way this will improve their ease of use and increase their understanding of success profiles.</li>
      <li>We believe that if we support users to think about what criteria they need to assess their role before they select of methods, we expect that users will pick the success profile components that are most fit for the role (and therefore the most relevant candidate).</li>
      <li>We believe that we can reduce the risk of overselection when selecting SP elements by framing them as criteria which need to be assessed for the given role.</li>
    </ul>
      <h3 class="govuk-heading-m">Design direction</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>Success profiles should be used, but we need to find a way of demystifying them (via good UX design) so that users know what they (eg Behaviours) do when making assessment design decisions.</li>
        <li>The thing that's being assessed, and how it's being assessed, should be captured within the same transaction/journey. Creating space between these steps adds to confusion.</li>
        <li>HMRC have created an <a href="https://design.tax.service.gov.uk/hmrc-design-patterns/add-to-a-list/">'add to list' design pattern</a>, that should be tested as it seemingly will allow for multiple assessment items to be added via an intuitive UX.</li>
        <li>To support with getting the best result (ie selection of appropriate assessment items), we anticipate a multi-page transaction when adding an assessment item.</li>
      </ul>


      <h3 class="govuk-heading-m">Results</h3>
      <p class="govuk-body-m">Overall, bringing the task of picking selection criteria and assigning methods/stage closer together into a unified journey did prove to be very effective and seemed to encourage greater immersion in the success profiles. Despite this, the absence of supporting instructions, guidance did seem to thwart some participants nonetheless. The use of the 'add-another' pattern did work well and allowed users to build a list of criteria, methods organised by stage efficiently.</p>
      <h4 class="govuk-heading-s">What worked well</h4>
      <ul class="govuk-list govuk-list--number">
        <li>The use of descriptive, supporting content both informational and as guidance did prove to be effective in supporting users somewhat with their task.</li>
        <li>The use of a summary page to allow users to review, reflect and edit their selection was particularly well recevied by most users, a number of participants cited the summary provided a moment to take stock and reflect on how their decisions look thus far.</li>
        <li>The mechanism offered by the 'add-another' pattern was effective as a list-building pattern for the given task and could be readily used by participants.</li>
        <li>The step-by-step nature of the task-structure and experience was regarded positively.</li>
        </ul>
      <p class="govuk-body-m"></p>
      <p class="govuk-body-m"></p>

      <h4 class="govuk-heading-s">What didn't work well</h4>
      <ul class="govuk-list govuk-list--number">
            <li>The information provided on the start page was perceived by some participants have missing key content, which seemed to create more questions than act as a primer to the task</li>
            <li>When picking success profile elements to use as the basis for selection criteria, it was clear that users expected to make a grand selection up front rather than piecemeal.</li>
            <li>When presenting methods to users, it was clear that without any descriptive content only the most common methods were recognised by some.</li>
            <li>Abilities and specifically on the use of online tests, it was clear that there were varying degrees of understanding and experience of their use and the minimal information provided did not prove to be particularly useful for the task at hand.</li>
            <li>Most of the abilities/online tests were deemed to be unrelated to the role they were looking for and provided little reason for further exploration (e.g., recruiting for a technical role).</li>
            <li>When selecting methods for a group of criteria (e.g., 3-4 behaviours or strengths) expressed a need for flexibility, allowing them to use different methods with different criteria from a common element.</li>
          </ul>

      <h4 class="govuk-heading-s">Decisions</h4>
      <p class="govuk-body-m">Take forward the user need to pick multiple success profile elements at the start from which they would craft the selection criteria (rather than piecemeal).</p>
      <p class="govuk-body-m">Take forward the use of summary pages to punctuate the journey, encourage reflection, edit, refine.</p>
      <p class="govuk-body-m">Experiment with alternatives to better incorporate abilities and online tests more useful into the journey and experience.</p>
      <p class="govuk-body-m">Experiment with the provision of greater inline contextual guidance and descriptive content to better support the presentation of methods to users.</p>

    </div>
  </div>
</div>



{% endset -%}
