{% extends "layouts/main.html" %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}





{% set pageName="Home" %}
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a id="top" class="govuk-link" href="#">feedback</a> will help us to improve it.'

}) }}
{% endblock %}



{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">Civil Service Jobs</h2>
    <h2 class="govuk-heading-xl">Assessment methods prototype</h2>


    {% set tagGreen %}
    <strong class="govuk-tag govuk-tag--green">
      tested
    </strong>

    {% endset -%}

    {% set tagGrey %}
    <strong class="govuk-tag govuk-tag--grey">
      not tested yet
    </strong>

    {% endset -%}

    {% set current %}
    <strong style="font-size:22px;float:right" class="govuk-tag govuk-tag--">
      development
    </strong>

<h1 class="govuk-heading-xl govuk-!-margin-top-3 ">v.04</h1>
<div class="govuk-!-margin-bottom-3" style="border-radius:5px;border:1px solid #1d70b8;padding:10px">
    <h2 class="govuk-heading-l govuk-!-margin-top-3"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v04/varA/home">Journey A: </a></h2>
    <span  style="font-size:28px" class="govuk-caption-xl govuk-!-margin-bottom-3"><strong>VH selects a job-library template</strong></span>

    <p class="govuk-body-m">The usual campaign set-up prototype with a fast-tracked journey after the vacancy holder opts to use a job template. Assessment methods are summarised for a review by the vacancy holder (task-list steps are 'completed').</p>

    <div style="">
      {{ govukButton({
        classes: "govuk-button--secondary govuk-!-margin-top-3",
        href:"/v04/varA/home",
        text: "Launch prototype"
      }) }}
    </div>
    </div>

    <div style="border-radius:5px;border:1px solid #1d70b8;padding:10px">
        <h2 class="govuk-heading-l govuk-!-margin-top-3"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v04/varB/start">Journey B: </a></h2>
        <span  style="font-size:28px" class="govuk-caption-xl govuk-!-margin-bottom-3"><strong>VH answers 'triage' questions to obtain recommendations</strong></span>

        <p class="govuk-body-m">Assessment methods are recommended in response to 'triage' question answered by the vacancy holder. This journey is not integrated into the campaign set-up structure, this is to allow the experiment to focus on the questions and recommending aspects only.</p>

        <div style="">
          {{ govukButton({
            classes: "govuk-button--secondary govuk-!-margin-top-3",
            href:"/v04/varB/start",
            text: "Launch prototype"
          }) }}
        </div>
        </div>


      {% endset -%}




      {% set versions %}

      <h2 class="govuk-heading-l govuk-!-margin-top-6">Version history</h2>

      <table class="govuk-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Version</th>
            <th scope="col" class="govuk-table__header">Tested on</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>






        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><strong><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v04/start">v.04</a></strong></td>
            <td class="govuk-table__cell ">In development</td>
            <td class="govuk-table__cell "><strong class="govuk-tag govuk-tag--">
              development
            </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><strong><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v03/pick-criteria-type">v.03</a></strong></td>
            <td class="govuk-table__cell ">24-25 April 2023</td>
            <td class="govuk-table__cell "><strong class="govuk-tag govuk-tag--green">
              tested
            </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><strong><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v02/what-essential-criteria-do-you-want">v.02—Cristina's concept</a></strong></td>
            <td class="govuk-table__cell ">06-11 April 2023</td>
            <td class="govuk-table__cell "><strong class="govuk-tag govuk-tag--green">
              tested
            </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><strong><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v01/start">v.01—Mark's model</a></strong></td>
            <td class="govuk-table__cell ">24-27 March 2023</td>
            <td class="govuk-table__cell "><strong class="govuk-tag govuk-tag--green">
              tested
            </strong></td>
          </tr>
        </tbody>
      </table>

      {% endset -%}

      {% set notes %}


<div class="govuk-!-margin-top-3 govuk-!-margin-bottom-3"  style="background:#f3f2f1;border:1px solid #1d70b8;padding:10px">

  <ul class="govuk-list" style="font-size:18px;display: inline;">
    <li style="text-align: left;display: inline;padding-right:30px">Jump to:</li>
    <li style="text-align: left;display: inline;padding-right:30px"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#v04"><strong>v.04</a></li>
    <li style="text-align: left;display: inline;padding-right:30px"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#v03"><strong>v.03</strong></a></li>
    <li style="text-align: left;display: inline;padding-right:30px"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#v02"><strong>v.02</strong></a></li>
    <li style="text-align: left;display: inline;padding-right:30px"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#v01"><strong>v.01</strong></a></li>
  </ul>
  </div>

  <div class="govuk-!-margin-bottom-6" style="border:1px solid #1d70b8;padding:30px">


    <h2 id="v04" style="" class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v04/start">v.04</a></h2>
<span  class="govuk-caption-m govuk-!-margin-bottom-6">May 2023</span>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters" style="border-right:1px solid #1d70b8">
        <h3 class="govuk-heading-m">Hypotheses</h3>

        <!-- <h3 class="govuk-heading-s" style="text-decoration: underline">Would blah blah  </h3> -->

        <p class="govuk-body-m"></p>

        <h3 class="govuk-heading-m">Method</h3>
          <p class="govuk-body-m">Quisque placerat facilisis egestas cillum dolore. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</p>
        <h3 class="govuk-heading-m">Results</h3>
          <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
<h3 class="govuk-heading-m">Decisions</h3>
<p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>

        </div>
        <div class="govuk-grid-column-one-quarter">
          <!-- <h3 class="govuk-heading-s">Differences</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Diff 1</li>
            <li>Diff 1</li>
            <li>Diff 1</li>
          </ul> -->
          <!-- <h3 class="govuk-heading-m">Assets</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#">Results</a></li>
            <li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#">Testing Mural</a></li>
            <li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#">Concept Mural</a></li>
          </ul> -->



        </div>
      </div>
    </div>

  <div id="v03" class="govuk-!-margin-bottom-6" style="border:1px solid #1d70b8;padding:30px">


    <h2 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v03/pick-criteria-type">v.03</a></h2>
<span  class="govuk-caption-m govuk-!-margin-bottom-6">April-May 2023</span>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters" style="border-right:1px solid #1d70b8">
        <h3 class="govuk-heading-m">Hypotheses</h3>

        <!-- <h3 class="govuk-heading-s" style="text-decoration: underline">Would blah blah  </h3> -->

        <p class="govuk-body-m">Quisque placerat facilisis egestas cillum dolore. Cras mattis iudicium purus sit amet fermentum. Praeterea iter est quasdam res quas ex communi.
          Pellentesque habitant morbi tristique senectus et netus. Idque Caesaris facere voluntate liceret: sese habere. Tu quoque, Brute, fili mi, nihil timor populi, nihil! At nos hinc posthac, sitientis piros Afros. Hi omnes lingua, institutis, legibus inter se differunt.</p>

        <h3 class="govuk-heading-m">Method</h3>
          <p class="govuk-body-m">Quisque placerat facilisis egestas cillum dolore. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</p>
        <h3 class="govuk-heading-m">Results</h3>
          <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
<h3 class="govuk-heading-m">Decisions</h3>
<p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>

        </div>
        <div class="govuk-grid-column-one-quarter">
          <!-- <h3 class="govuk-heading-s">Differences</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Diff 1</li>
            <li>Diff 1</li>
            <li>Diff 1</li>
          </ul> -->
          <!-- <h3 class="govuk-heading-m">Assets</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#">Results</a></li>
            <li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#">Testing Mural</a></li>
            <li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#">Concept Mural</a></li>
          </ul> -->



        </div>
      </div>
    </div>
      <div id="v02" style="border:1px solid #1d70b8;padding:30px">

        <h2 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v02/what-essential-criteria-do-you-want">v.02—Cristina's concept</a></h2>
        <span  class="govuk-caption-m govuk-!-margin-bottom-6">April 2023</span>



        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters" style="border-right:1px solid #1d70b8">
            <h3 class="govuk-heading-m">Hypotheses</h3>

            <!-- <h3 class="govuk-heading-s" style="text-decoration: underline">Would blah blah  </h3> -->

            <p class="govuk-body-m">Quisque placerat facilisis egestas cillum dolore. Cras mattis iudicium purus sit amet fermentum. Praeterea iter est quasdam res quas ex communi.
              Pellentesque habitant morbi tristique senectus et netus. Idque Caesaris facere voluntate liceret: sese habere. Tu quoque, Brute, fili mi, nihil timor populi, nihil! At nos hinc posthac, sitientis piros Afros. Hi omnes lingua, institutis, legibus inter se differunt.</p>

            <h3 class="govuk-heading-m">Method</h3>
              <p class="govuk-body-m">Quisque placerat facilisis egestas cillum dolore. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</p>
            <h3 class="govuk-heading-m">Results</h3>
              <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
    <h3 class="govuk-heading-m">Decisions</h3>
    <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>

            </div>
            <div class="govuk-grid-column-one-quarter">
              <!-- <h3 class="govuk-heading-m">Assets</h3>
              <ul class="govuk-list">
                <li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#">Results</a></li>
                <li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#">Testing Mural</a></li>
                <li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#">Concept Mural</a></li>
              </ul> -->



            </div>
          </div>
        </div>

        <div id="v01" class="govuk-!-margin-top-6" style="border:1px solid #1d70b8;padding:30px">

            <h2 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v01/start">v.01—Mark's model</a></h2>
            <span  class="govuk-caption-m govuk-!-margin-bottom-6">March 2023</span>


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters" style="border-right:1px solid #1d70b8">
                <h3 class="govuk-heading-m">Hypotheses</h3>

                <!-- <h3 class="govuk-heading-s" style="text-decoration: underline">Would blah blah  </h3> -->

                <p class="govuk-body-m">Quisque placerat facilisis egestas cillum dolore. Cras mattis iudicium purus sit amet fermentum. Praeterea iter est quasdam res quas ex communi.
                  Pellentesque habitant morbi tristique senectus et netus. Idque Caesaris facere voluntate liceret: sese habere. Tu quoque, Brute, fili mi, nihil timor populi, nihil! At nos hinc posthac, sitientis piros Afros. Hi omnes lingua, institutis, legibus inter se differunt.</p>

                <h3 class="govuk-heading-m">Method</h3>
                  <p class="govuk-body-m">The concept Quisque placerat facilisis egestas cillum dolore. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</p>
                <h3 class="govuk-heading-m">Results</h3>
                  <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
        <h3 class="govuk-heading-m">Decisions</h3>
        <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>

                </div>
                <div class="govuk-grid-column-one-quarter">
                  <!-- <h3 class="govuk-heading-m">Assets</h3>
                  <ul class="govuk-list">
                    <li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#">Results</a></li>
                    <li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#">Testing Mural</a></li>
                    <li><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#">Concept Mural</a></li>
                  </ul> -->


                </div>
              </div>
            </div>



            {% endset -%}












              {% set backstory %}
<h3 class="govuk-heading-m">Overarching hypothesis</h3>
              <p class="govuk-body-m">Whichever way you look at it, the choice of selection criteria and assessment methods is indelibly connected with all aspects of Civil Service recruitment, end to end and front to back.  Given this, we shouldn’t be surprised to learn how far reaching its impact is felt. Take, for example,  the job library concept and job templates, or how reserve list matching works, or,  possibly most significantly, the flavour of journey and experience offered to candidates if they wish to join the service.</p>

              {% endset -%}

              {{ govukTabs({
                items: [
                {
                  label: "Current",
                  id: "current",
                  panel: {
                    html: current
                  }
                },
                {
                  label: "Version history",
                  id: "Versions",
                  panel: {
                    html: versions
                  }
                },
                {
                  label: "Iteration notes",
                  id: "notes",
                  panel: {
                    html: notes
                  }
                },

                {
                  label: "Backstory",
                  id: "backstory",
                  panel: {
                    html: backstory
                  }
                }
                ]
              }) }}
            </div>
          </div>

          {% endblock %}
