{% extends "layouts/main.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %}
What essential criteria do you want – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<p class="govuk-body-xs govuk-!-margin-top-3" style="color:grey;float:right">v03-AM-CSJ</p>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}
{% set choices = [
['Behaviours','Behaviours are the actions and activities that people do which result in effective performance in a job. Behaviours are best for assessing the core transferable skills and behavioural styles. Candidates can provide examples from work or home contexts. You can assess behaviours at the sift stage with a personal statement, written examples and online tests. At the interview, you can assess behaviours by presentation and assessment exercises.'],
['Experience','The knowledge or mastery of an activity or subject gained through involvement in or exposure to it. Experience element is best used for assessing contextual knowledge or applied skills required for performing well in a job role. You can assess experience at sift with a personal statement, CV and Basic Knowledge online test and at interview you can assess by interview questions and a presentation.'],
['Strengths','Strengths are what people enjoy doing and do well and often. Strengths help us to understand whether someone is a good fit for the role and organisation and let candidates show their potential. Strengths are a great way for candidates to show their potential when they do not have a lot of work experience. Strengths can only be assessed at sift by the Civil Service Work Strengths online test. At the interview, you can assess strengths by interview questions.'],
['Skills','You can assess specific professional and technical skills, knowledge or qualifications. Relevant qualifications can be used as objective essential criteria for fast shortlisting. You can assess skills at sift by personal statement and specific skill-based online tests, and at interview, you can assess by presentation, work samples and assessment exercises.'],
['Abilities','Abilities are a chance for candidates to show their potential to perform to the required standard. You can assess abilities at the sift stage with Civil Service numerical and verbal online tests.']
 ] %}

      <form class="form" action="/selection-handler" method="post">


<div class="govuk-grid-row">


  <div class="govuk-grid-column-full govuk-!-margin-bottom-6" style="border-bottom:1px solid #1d70b8;max-width:90%;padding-left:30px; padding-right:30px">
    <h1 class="govuk-heading-xl">
      What elements do you want to assess?
    </h1>
        <p class="govuk-body-l">Select what elements you want to assess candidates on at sift and interview.</p>
        <p class="govuk-body-m">Success profiles are characteristics broken down into 5 elements to help you find the right candidate for your job role.</p>

        <p class="govuk-body-m">You will create a 'success profile' for your job role using the 5 elements to assess the job role's requirements.</p>
        <p class="govuk-body-m">Each element can be assessed in a number of ways to suit the nature of the vacancy and used at any stage of the assessment process. Not all of the elements are relevant to every role, and will vary depending on the profession, level and type of role. Vacancy holders can decide what elements are most important to assess based on the job role requirements.</p>

        <p class="govuk-body-m">If you would like to learn more about how to assess candidates, you can sign up for <a href="#">Success Profile training</a>.</p>

        {% for choice, description in choices %}

        {{ govukCheckboxes({
          name: "selected",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
          {
            checked: checked('selected',choice | lower),
            value: choice | lower,
            text: choice,
            hint: {
              text: description
            }
          }
          ]
        }) }}

        {%endfor%}

</div>
<div class="govuk-!-margin-top-3 govuk-!-margin-bottom-6" style="float:left;">
        {{ govukButton({
          text: "Continue"
        }) }}

</div>
</div>



</form>


  {% endblock %}
