{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


{% block pageTitle %}
Select methods for sift – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}


<form class="form" action="select-methods-int" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">How will you assess at sift</h1>
      <p class="govuk-body-m">At sift, you will assess:</p>

      <ul id="counter" style="" class="govuk-body-m govuk-list govuk-list--bullet"></ul>

      <div id="header1"></div>
      <div id="header2"></div>
      <div id="header3"></div>
      <div id="header4"></div>

      <script>
        var beCount;
        var stCount;
        var skCount;
        var exCount;
        var beHead;
        var stHead;
        var skHead;
        var exHead;

        var sift = [];
        var siftSet = [];
        var siftSet2 = [];



        var siftLen = sift.length;

        sift = JSON.parse(window.sessionStorage.getItem("sift"));

        var siftChunkSize = 2;
        for (let sif = 0; sif < sift.length; sif += siftChunkSize) {
          const siftChunk = sift.slice(sif, sif + siftChunkSize);

          siftSet[sif] = siftChunk[0].split("-",1).pop();
          siftSet2[sif] = siftChunk[1];

        }
        var siftTstVars = siftSet.filter(trim);
        var siftTstVars2  = siftSet2.filter(trim);


        beCount = siftTstVars.filter(countb).length;
        stCount = siftTstVars.filter(counts).length;
        skCount = siftTstVars.filter(countk).length;
        exCount = siftTstVars.filter(counte).length;

        beHead = siftTstVars.filter(countb);
        stHead = siftTstVars.filter(counts);
        exHead = siftTstVars.filter(counte);
        skHead = siftTstVars.filter(countk);

        beCount = beHead.length;
        stCount = stHead.length;
        exCount = exHead.length;
        skCount = skHead.length;

        var sum = beCount+stCount+exCount+skCount;

        var countArr = [];

        countArr.push(beCount+" "+"behaviours",exCount+" "+"experience",skCount+" "+"skills",stCount+" "+"strengths");

        var headArr = [];

        var newHead1 = eliminateDuplicates(beHead);
        var newHead2 = eliminateDuplicates(exHead);
        var newHead3 = eliminateDuplicates(skHead);
        var newHead4 = eliminateDuplicates(stHead);
        headArr.push(newHead1,newHead2,newHead3,newHead4);


        var exp = eliminateDuplicates(headArr);

        // exp = exp.join(" ")

        function trim(val) {
          return val !="" ;
        }


        function eliminateDuplicates(arr) {
          var i,
          len = arr.length,
          out = [],
          obj = {};

          for (i = 0; i < len; i++) {
            obj[arr[i]] = 0;
          }
          for (i in obj) {
            out.push(i);
          }
          return out;

        }


        function countb(cc) {
          return cc == "Behaviours" ;
        }

        function counts(cc) {
          return cc == "Strengths" ;
        }

        function countk(cc) {
          return cc == "Skills" ;
        }

        function counte(cc) {
          return cc == "Experience" ;
        }

        var siftCount = document.getElementById("counter");
        for (ccc = 0; ccc < countArr.length; ++ccc) {
          var sifCCC = document.createElement('li');
          sifCCC.innerText = countArr[ccc];
          siftCount.appendChild(sifCCC);
        }

        var chkList = ['Personal statement','CV','Written example (250 words)','Online test']

        var hea1 = document.getElementById("header1");

        if (beCount != 0) {
          var h21 = document.createElement("h2");
          h21.innerText = headArr[0];
          hea1.appendChild(h21);
          for (var be = 0; be < beCount; be++){
            var h31 = document.createElement("h3");
            h31.innerText = siftTstVars2[be];
            hea1.appendChild(h31);
            for (var i = 0; i < chkList.length; i++) {
              var label = document.createElement("label");
              var checkBox = document.createElement("input");
              checkBox.type = "checkbox";
              checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
              label.style.cssText = "display: block;font-size:22px;padding-left: 15px;text-indent: 40px;";
              checkBox.value = chkList[i];
              checkBox.setAttribute("id","sift-"+i+be)
              checkBox.setAttribute("name",headArr[0]+"-"+siftTstVars2[be])
              label.appendChild(document.createTextNode(chkList[i]));
              hea1.appendChild(label);
              hea1.appendChild(checkBox);
            }
          }
        }

        if (exCount != 0){
          var h22 = document.createElement("h2");
          h22.innerText = headArr[1];
          hea1.appendChild(h22);
          for (var ex = beCount; ex < beCount+exCount; ex++){
            var h32 = document.createElement("h3");
            h32.innerText = siftTstVars2[ex];
            hea1.appendChild(h32);
            for (var i = 0; i < chkList.length; i++) {
              var label = document.createElement("label");
              var checkBox = document.createElement("input");
              checkBox.type = "checkbox";
              checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
              label.style.cssText = "display: block;font-size:22px;padding-left: 15px;text-indent: 40px;";
              checkBox.value = chkList[i];
              checkBox.setAttribute("id","sift-"+i+ex)
              checkBox.setAttribute("name",headArr[1]+"-"+siftTstVars2[ex])
              label.appendChild(document.createTextNode(chkList[i]));
              hea1.appendChild(label);
              hea1.appendChild(checkBox);
            }
          }
        }

        if (skCount != 0){
          var h23 = document.createElement("h2");
          h23.innerText = headArr[2];
          hea1.appendChild(h23);
          for (var sk = exCount+beCount; sk < beCount+exCount+skCount; sk++){
            var h33 = document.createElement("h3");
            h33.innerText = siftTstVars2[sk];
            hea1.appendChild(h33);
            for (var i = 0; i < chkList.length; i++) {
              var label = document.createElement("label");
              var checkBox = document.createElement("input");
              checkBox.type = "checkbox";
              checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
              label.style.cssText = "display: block;font-size:22px;padding-left: 15px;text-indent: 40px;";
              checkBox.value = chkList[i];
              checkBox.setAttribute("id","sift-"+i+sk)
              checkBox.setAttribute("name",headArr[2]+"-"+siftTstVars2[sk])
              label.appendChild(document.createTextNode(chkList[i]));
              hea1.appendChild(label);
              hea1.appendChild(checkBox);
            }

          }
        }

        if (stCount != 0){
          var h24 = document.createElement("h2");
          h24.innerText = headArr[3];
          hea1.appendChild(h24);
          for (var st = skCount+exCount+beCount; st < skCount+exCount+beCount+stCount; st++){
            var h34 = document.createElement("h3");
            h34.innerText = siftTstVars2[st];
            hea1.appendChild(h34);
            for (var i = 0; i < chkList.length; i++) {
              var label = document.createElement("label");
              var checkBox = document.createElement("input");
              checkBox.type = "checkbox";
              checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
              label.style.cssText = "display: block;font-size:22px;padding-left: 15px;text-indent: 40px;";
              checkBox.value = chkList[i];
              checkBox.setAttribute("id","sift"+i+st)
              checkBox.setAttribute("name",headArr[3]+"-"+siftTstVars2[st])
              label.appendChild(document.createTextNode(chkList[i]));
              hea1.appendChild(label);
              hea1.appendChild(checkBox);
            }
          }
        }









        function checkBoxxed(){
          for (var i = 0; i < chkList.length; i++) {
            var label = document.createElement("label");
            var checkBox = document.createElement("input");
            checkBox.type = "checkbox";
            checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
            label.style.cssText = "display: block;font-size:22px;padding-left: 15px;text-indent: 40px;";
            checkBox.value = chkList[i];
            checkBox.setAttribute("id","check"+i)
            checkBox.setAttribute("name",headArr)
            label.appendChild(document.createTextNode(chkList[i]));
            hea1.appendChild(label);
            hea1.appendChild(checkBox);
          }
        }




        //
        // var hea1 = document.getElementById("header1");
        // for (var n=0; n!=1; n++) {
        //
        //   var header1 = document.createElement("h2");
        //   header1.innerText = exp;
        //
        //
        //   for (var sif3 = 0; sif3 < siftTstVars.length; sif3++) {
        //
        //
        //     for (var i = 0; i < chkList.length; i++) {
        //       var label = document.createElement("label");
        //       var checkBox = document.createElement("input");
        //       checkBox.type = "checkbox";
        //       checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
        //       label.style.cssText = "display: block;font-size:22px;padding-left: 15px;text-indent: 40px;";
        //       checkBox.value = chkList[i];
        //       label.appendChild(document.createTextNode(chkList[i]));
        //       hea2.appendChild(label);
        //       hea2.appendChild(checkBox);
        //
        //
        //     }
        //   }
        // }



        // var siftReCheck = [];
        //
        // var reCheckbox = document.getElementsByTagName('input');
        //
        // for (j = 0; j < reCheckbox.length; j++) {
        //   if (checkbox[i].type == 'checkbox' && checkbox[i].checked ) {
        //     siftCheck.push(checkbox[i].name,checkbox[i].id,checkbox[i].value);
        //     window.sessionStorage.setItem("siftCheck", JSON.stringify(siftCheck));
        //   }
        // }
        //
        // siftReCheck = JSON.parse(window.sessionStorage.getItem("siftCheck"));









        var features = document.getElementById('catHead')
        for(var i = 0; i < siftTstVars2.length; i++) {


        }

        function checkCheckboxesSift() {
          var siftCheck = [];

          var checkbox = document.getElementsByTagName('input');
          console.log(checkbox)
          for (i = 0; i < checkbox.length; i++) {
            if (checkbox[i].type == 'checkbox' && checkbox[i].checked ) {
              siftCheck.push(checkbox[i].id,checkbox[i].name,checkbox[i].value);
              window.sessionStorage.setItem("siftCheck", JSON.stringify(siftCheck));
            }
          }
        }
      </script>


                <button class="govuk-button govuk-!-margin-top-9" onclick="checkCheckboxesSift()" data-module="govuk-button">Continue</button>


      </div>
    </div>



  </form>

  {% endblock %}
