{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


{% block pageTitle %}
Select interview details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}

<style>




</style>




<form class="form" action="review-sp-table" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Interview information</h1>
      <h2 class="govuk-heading-l" style="padding-bottom:20px;border-bottom:1px solid #1d70b8;">Where would you like to interview?</h2>
  <p class="govuk-body-m">At interview, you want to ask candidates questions so they can demonstrate their skills and behaviours.</p>
  <div class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="interviewDetails" name="interviewDetails" type="checkbox" value="Remote">
            <label class="govuk-label govuk-checkboxes__label" for="interviewDetails">
              Remote
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="interviewDetails-2" name="interviewDetails" type="checkbox" value="In-person">
            <label class="govuk-label govuk-checkboxes__label" for="interviewDetails-2">
              In-person
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="interviewDetails-3" name="interviewDetails" type="checkbox" value="Pre-recorded">
            <label class="govuk-label govuk-checkboxes__label" for="interviewDetails-3">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Pre-recorded
                  </span>
                </summary>
                <div class="govuk-details__text">A pre-recorded, video interview where the candidate is guided through a series of interview questions, and they record their answers to camera...’
                </div>
              </details>
            </label>
          </div>
        </div>
      </fieldset>
    </div>


      <div class="govuk-!-margin-top-9 govuk-!-bottom-top-6">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
      <BR><BR>

      </div>
    </div>



  </form>
  <script src="/public/javascripts/seshDat.js"></script>
  {% endblock %}
