{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


{% block pageTitle %}
Select methods for sift – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}







<form class="form" action="select-methods-int" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">How will you assess at sift</h1>
      <p class="govuk-body-m">At sift, you will assess:</p>

      <ul id="counter" style="" class="govuk-body-m govuk-list govuk-list--bullet"></ul>


      <h2 class="govuk-heading-l" style="padding-bottom:20px;border-bottom:1px solid #1d70b8;"></h2>

      <div id="cboxes" class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"></div>





      <script>
        var beCount;
        var stCount;
        var skCount;
        var exCount;
        var beHead;
        var stHead;
        var skHead;
        var exHead;

        var sift = [];
        var siftSet = [];
        var siftSet2 = [];



        var siftLen = sift.length;

        sift = JSON.parse(window.sessionStorage.getItem("sift"));
        console.log(sift.length);


        function trim(val) {
          return val !="" ;
        }

        var siftChunkSize = 2;
        for (let sif = 0; sif < sift.length; sif += siftChunkSize) {
          const siftChunk = sift.slice(sif, sif + siftChunkSize);
          console.log(siftChunk[0]);
          siftSet[sif] = siftChunk[0].split("-",1).pop();
          siftSet2[sif] = siftChunk[1];

        }
        var siftTstVars = siftSet.filter(trim)
        var siftTstVars2  = siftSet2.filter(trim)

        console.log(siftTstVars)
        console.log(siftTstVars2)

        beCount = siftTstVars.filter(countb).length;
        stCount = siftTstVars.filter(counts).length;
        skCount = siftTstVars.filter(countk).length;
        exCount = siftTstVars.filter(counte).length;


        beHead = siftTstVars.filter(countb);
        stHead = siftTstVars.filter(counts);
        exHead = siftTstVars.filter(counte);
        skHead = siftTstVars.filter(countk);




        beCount = beHead.length;
        stCount = stHead.length;
        exCount = exHead.length;
        skCount = skHead.length;


        var sum = beCount+stCount+exCount+skCount;

        var countArr = [];
        countArr.push(beCount+" "+"behaviours",stCount+" "+"strengths",exCount+" "+"experience",skCount+" "+"skills");

        var headArr = [];

        // headArr.push(beHead.split(",",1).pop(),stHead.split(",",1).pop(), skHead.split(",",1).pop(), exHead.split(",",1).pop())


        var newHead1 = eliminateDuplicates(beHead);
        var newHead2 = eliminateDuplicates(exHead);
        var newHead3 = eliminateDuplicates(skHead);
        var newHead4 = eliminateDuplicates(stHead);
        headArr.push(newHead1,newHead2,newHead3,newHead4);


        console.log(headArr)

        function trim(val) {
          return val !="" ;
        }


        function eliminateDuplicates(arr) {
          console.log("ellim")
          var i,
          len = arr.length,
          out = [],
          obj = {};

          for (i = 0; i < len; i++) {
            obj[arr[i]] = 0;
          }
          for (i in obj) {
            out.push(i);
          }
          return out;
        }


        function countb(cc) {
          return cc == "Behaviours" ;
        }

        function counts(cc) {
          return cc == "Strengths" ;
        }

        function countk(cc) {
          return cc == "Skills" ;
        }

        function counte(cc) {
          return cc == "Experience" ;
        }

        var siftCount = document.getElementById("counter");
        for (ccc = 0; ccc < countArr.length; ++ccc) {
          var sifCCC = document.createElement('li');
          sifCCC.innerText = countArr[ccc];
          siftCount.appendChild(sifCCC);
        }

    var chkList = ['Personal statement','CV','Written example (250 words)','Online test']

        var sifthed2 = document.getElementById("cboxes");
        for (sif3 = 0; sif3 < siftTstVars.length; ++sif3) {
          var myDiv = document.getElementById("cboxes");

          for (var i = 0; i < chkList.length; i++) {
            var legend = document.createElement("legend");
            var label = document.createElement("label");
            var checkBox = document.createElement("input");

            checkBox.type = "checkbox";
            legend.style.cssText = "font-size:30px;"
            checkBox.style.cssText = "position:relative;width:30px;height:30px";
            label.style.cssText = "display: inline-block;position:relative;font-size:20px;margin:20px;padding:10px";
            checkBox.value = chkList[sif3];


            myDiv.appendChild(legend);
            legend.appendChild(document.createTextNode(siftTstVars[sif3]+", "+siftTstVars2[sif3]));
            myDiv.appendChild(checkBox);
            myDiv.appendChild(label);
            label.appendChild(document.createTextNode(chkList[i]));

          }




        }











        var features = document.getElementById('catHead')
        for(var i = 0; i < siftTstVars2.length; i++) {


        }


        var animals = ["lion", "tigers", "bears", "squirrels"];




      </script>

      <div class="govuk-!-margin-top-9 govuk-!-bottom-top-6">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
      <BR><BR>

      </div>
    </div>



  </form>
  <script src="/public/javascripts/seshDat.js"></script>
  {% endblock %}
