{% extends "layouts/main.html" %}

{% block pageTitle %}
Selection criteria summary – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<form action="select-methods-sift" method="post" novalidate>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Review your selection criteria at sift and interview
      </h1>







  <h2 class="govuk-heading-l" style="padding-bottom:20px;border-bottom:1px solid #1d70b8;">Sift</h2>
      <dl class="govuk-summary-list--no-border ">
        <div  class="govuk-summary-list__row">



          <dt  class="govuk-summary-list__key" style="width:80%">
            <ul id="header1" style="" class="govuk-list govuk-list"></ul>
          </dt>
          <dd  class="govuk-summary-list__value" style="width:20%">
            <ul id="header2" style="" class="govuk-list govuk-list"></ul>

          </dd>

        </div>
      </dl>



<h2 class="govuk-heading-l" style="padding-bottom:20px;border-bottom:1px solid #1d70b8;">Interview</h2>

<dl class="govuk-summary-list--no-border ">
  <div  class="govuk-summary-list__row">



    <dt  class="govuk-summary-list__key" style="width:80%">
      <ul id="header3" style="" class="govuk-list govuk-list"></ul>
    </dt>
    <dd  class="govuk-summary-list__value" style="width:20%">
      <ul id="header4" class="govuk-list govuk-list"></ul>

    </dd>

  </div>
</dl>



      <!-- <dl class="govuk-summary-list--no-border">
        <div  class="govuk-summary-list__row">

          <dt  class="govuk-summary-list__key" style="width:20%">
            <ul id="list" style="" class="govuk-list govuk-list"></ul>
          </dt>
          <dd  class="govuk-summary-list__value" style="width:60%">
            <ul id="list2" style="" class="govuk-list govuk-list"></ul>

          </dd>

          <dd class="govuk-summary-list__actions" style="width:20%">
            <ul id="changeling" style="" class="govuk-list govuk-list"></ul>
          </dd>
        </div>
      </dl> -->


      <!-- <script>

        var sift = [];
        var siftSet = [];
            var siftSet2 = [];
        var interview = [];
        var interviewSet = [];
        var interviewSet2 = [];

        var siftLen = sift.length;
        var interviewLen = interview.length;

        sift = JSON.parse(window.sessionStorage.getItem("sift"));
        interview = JSON.parse(window.sessionStorage.getItem("interview"));
        console.log(sift.length);
        console.log(interview.length);

        var intChunkSize = 2;
        for (let int = 0; int < interview.length; int += intChunkSize) {
          const intChunk = interview.slice(int, int + intChunkSize);
          console.log(intChunk[0]);
          interviewSet[int] = intChunk[0].split("-",1).pop();
          interviewSet2[int] = intChunk[1];

        }
        var intTstVar = interviewSet.filter(trim)
        var intTstVar2  = interviewSet2.filter(trim)

        var changeLink = "Change | Delete";

        function trim(val) {
          return val !="" ;
        }


         var intList = document.getElementById("header1");
         for (int2 = 0; int2 < intTstVar.length; ++int2) {
            var intDd = document.createElement('h2');
            intDd.innerText = intTstVar[int2];
            intList.appendChild(intDd);
         }

         var intList2 = document.getElementById("header1");
         for (int3 = 0; int3 < intTstVar2.length; ++int3) {
            var intDd2 = document.createElement('li');
            intDd2.innerText = intTstVar2[int3];
            intList2.appendChild(intDd2);
         }

         var changeling = document.getElementById("changeling");
         for (chg = 0; chg < intTstVar2.length; ++chg) {
            var intDd2 = document.createElement('li');
            intDd2.innerText = changeLink;
            changeling.appendChild(intDd2);
         }

         var siftChunkSize = 2;
         for (let sif = 0; sif < sift.length; sif += siftChunkSize) {
           const siftChunk = sift.slice(sif, sif + siftChunkSize);
           console.log(siftChunk[0]);
           siftSet[sif] = siftChunk[0].split("-",1).pop();
           siftSet2[sif] = siftChunk[1];

         }
         var siftTstVars = siftSet.filter(trim)
         var siftTstVars2  = siftSet2.filter(trim)


         function trim(val) {
           return val !="" ;
         }


          var siftlist = document.getElementById("list3");
          for (sif2 = 0; sif2 < siftTstVars.length; ++sif2) {
             var sifDd = document.createElement('li');
             sifDd.innerText = siftTstVars[sif2];
             siftlist.appendChild(sifDd);
          }

          var siftlist2 = document.getElementById("list4");
          for (sif3 = 0; sif3 < siftTstVars2.length; ++sif3) {
             var sifDd2 = document.createElement('li');
             sifDd2.innerText = siftTstVars2[sif3];
             siftlist2.appendChild(sifDd2);
          }

          var changeling2 = document.getElementById("changeling2");
          for (chg2 = 0; chg2 < siftTstVars2.length; ++chg2) {
             var intDd22 = document.createElement('li');
             intDd22.innerText = changeLink;
             changeling2.appendChild(intDd22);
          }


      </script> -->



    </div>
  </div>

  {{ govukButton({
    text: "Continue"
  }) }}

<div>
  {{ govukButton({
    text: "Add another interview stage",
    classes: "govuk-button--secondary"
  }) }}
</div>
</form>
  <script>
    var beCount;
    var stCount;
    var skCount;
    var exCount;
    var abCount;
    var beHead;
    var stHead;
    var skHead;
    var exHead;
    var abHead;

    var sift = [];
    var siftSet = [];
    var siftSet2 = [];



    var siftLen = sift.length;

    sift = JSON.parse(window.sessionStorage.getItem("sift"));

    var siftChunkSize = 2;
    for (let sif = 0; sif < sift.length; sif += siftChunkSize) {
      const siftChunk = sift.slice(sif, sif + siftChunkSize);

      siftSet[sif] = siftChunk[0].split("-",1).pop();
      siftSet2[sif] = siftChunk[1];

    }
    var siftTstVars = siftSet.filter(trim);
    var siftTstVars2  = siftSet2.filter(trim);


    beCount = siftTstVars.filter(countb).length;
    stCount = siftTstVars.filter(counts).length;
    skCount = siftTstVars.filter(countk).length;
    exCount = siftTstVars.filter(counte).length;
    abCount = siftTstVars.filter(counta).length;

    beHead = siftTstVars.filter(countb);
    stHead = siftTstVars.filter(counts);
    exHead = siftTstVars.filter(counte);
    skHead = siftTstVars.filter(countk);
    abHead = siftTstVars.filter(counta);
    console.log(abHead)

    beCount = beHead.length;
    stCount = stHead.length;
    exCount = exHead.length;
    skCount = skHead.length;
    abCount = abHead.length;

    var sum = beCount+stCount+exCount+skCount+abCount;

    var countArr = [];

    countArr.push(beCount+" "+"behaviours",exCount+" "+"experience",skCount+" "+"skills",stCount+" "+"strengths",abCount+" "+"abilities");

    var headArr = [];

    var newHead1 = eliminateDuplicates(beHead);
    var newHead2 = eliminateDuplicates(exHead);
    var newHead3 = eliminateDuplicates(skHead);
    var newHead4 = eliminateDuplicates(stHead);
    var newHead5 = eliminateDuplicates(abHead);
    headArr.push(newHead1,newHead2,newHead3,newHead4,newHead5);


    var exp = eliminateDuplicates(headArr);

    // exp = exp.join(" ")

    function trim(val) {
      return val !="" ;
    }


    function eliminateDuplicates(arr) {
      var i,
      len = arr.length,
      out = [],
      obj = {};

      for (i = 0; i < len; i++) {
        obj[arr[i]] = 0;
      }
      for (i in obj) {
        out.push(i);
      }
      return out;

    }


    function countb(cc) {
      return cc == "Behaviours" ;
    }

    function counts(cc) {
      return cc == "Strengths" ;
    }

    function countk(cc) {
      return cc == "Skills" ;
    }

    function counte(cc) {
      return cc == "Experience" ;
    }

    function counta(cc) {
      return cc == "Abilities" ;
    }

    var hea1 = document.getElementById("header1");

    if (beCount != 0) {
      var h21 = document.createElement("h2");
      h21.innerText = headArr[0];
      hea1.appendChild(h21);
      for (var be = 0; be < beCount; be++){
        var h31 = document.createElement("p");
        h31.innerText = siftTstVars2[be];
        hea1.appendChild(h31);
      }
    }

    if (exCount != 0){
      var h22 = document.createElement("h2");
      h22.innerText = headArr[1];
      hea1.appendChild(h22);
      for (var ex = beCount; ex < beCount+exCount; ex++){
        var h32 = document.createElement("p");
        h32.innerText = siftTstVars2[ex];
        hea1.appendChild(h32);
      }
    }

    if (skCount != 0){
      var h23 = document.createElement("h2");
      h23.innerText = headArr[2];
      hea1.appendChild(h23);
      for (var sk = exCount+beCount; sk < beCount+exCount+skCount; sk++){
        var h33 = document.createElement("p");
        h33.innerText = siftTstVars2[sk];
        hea1.appendChild(h33);
      }
    }

    if (stCount != 0){
      var h24 = document.createElement("h2");
      h24.innerText = headArr[3];
      hea1.appendChild(h24);
      for (var st = skCount+exCount+beCount; st < skCount+exCount+beCount+stCount; st++){
        var h34 = document.createElement("p");
        h34.innerText = siftTstVars2[st];
        hea1.appendChild(h34);
      }
    }

    if (abCount != 0){
      var h25 = document.createElement("h2");
      h25.innerText = headArr[4];
      hea1.appendChild(h25);
      for (var ab = skCount+exCount+beCount+stCount; ab < skCount+exCount+beCount+stCount+abCount; ab++){
        var h35 = document.createElement("p");
        h35.innerText = siftTstVars2[ab];
        hea1.appendChild(h35);
      }
    }


    var beCount;
    var stCount;
    var skCount;
    var exCount;
    var abCount;
    var beHead;
    var stHead;
    var skHead;
    var exHead;
    var abHead;

  var ibeCount;
  var istCount;
  var iskCount;
  var iexCount;
  var ibeHead;
  var istHead;
  var iskHead;
  var iexHead;


  var interview = [];
  var interviewSet = [];
  var interviewSet2 = [];


  interview = JSON.parse(window.sessionStorage.getItem("interview"));

  var interviewChunkSize = 2;
  for (let sif = 0; sif < interview.length; sif += interviewChunkSize) {
    const interviewChunk = interview.slice(sif, sif + interviewChunkSize);

    interviewSet[sif] = interviewChunk[0].split("-",1).pop();
    interviewSet2[sif] = interviewChunk[1];

  }
  var interviewTstVars = interviewSet.filter(trim);
  var interviewTstVars2  = interviewSet2.filter(trim);


  ibeCount = interviewTstVars.filter(countb).length;

  istCount = interviewTstVars.filter(counts).length;

  iskCount = interviewTstVars.filter(countk).length;
  iexCount = interviewTstVars.filter(counte).length;




  ibeHead = interviewTstVars.filter(countb);
    // console.log(beHead)
  istHead = interviewTstVars.filter(counts);
    // console.log(stHead)
  iexHead = interviewTstVars.filter(counte);
  // console.log(exHead)

  iskHead = interviewTstVars.filter(countk);
  // console.log(skHead)




  ibeCount = ibeHead.length;
  istCount = istHead.length;
  iexCount = iexHead.length;
  iskCount = iskHead.length;


  var sum = ibeCount+istCount+iexCount+iskCount;

  var icountArr = [];

  icountArr.push(ibeCount+" "+"behaviours",iexCount+" "+"experience",iskCount+" "+"skills",istCount+" "+"strengths");

  var iheadArr = [];

  // headArr.push(beHead.split(",",1).pop(),stHead.split(",",1).pop(), skHead.split(",",1).pop(), exHead.split(",",1).pop())


  var inewHead1 = eliminateDuplicates(beHead);
  var inewHead2 = eliminateDuplicates(exHead);
  var inewHead3 = eliminateDuplicates(skHead);
  var inewHead4 = eliminateDuplicates(stHead);
  iheadArr.push(inewHead1,inewHead2,inewHead3,inewHead4);


  var iexp = eliminateDuplicates(iheadArr);



   iexp = iexp.join(" ")
console.log(headArr)
  function trim(val) {
    return val !="" ;
  }

  // var chkList = ['Interview question(s)','Portfolio','Presentation']


//   if (beCount != 0){
//       // console.log("be"+beCount)
//   var interviewhea1 = document.getElementById("header1");
//   var h21 = document.createElement("h2");
//   h21.innerText = headArr[0];
//   interviewhea1.appendChild(h21);
//   for (var be = 0; be < beCount; be++){
//     // console.log("-be"+be)
//     var h31 = document.createElement("h3");
//     h31.innerText = interviewTstVars2[be];
//     interviewhea1.appendChild(h31);
//     for (var i = 0; i < chkList.length; i++) {
//       var label = document.createElement("label");
//       var checkBox = document.createElement("input");
//       checkBox.type = "checkbox";
//       checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
//       label.style.cssText = "display: block;font-size:22px;padding-left: 15px;text-indent: 40px;";
//       checkBox.value = chkList[i];
//       label.appendChild(document.createTextNode(chkList[i]));
//       interviewhea1.appendChild(label);
//       interviewhea1.appendChild(checkBox);
//     }
//   }
// } else {
//
// }


var interviewhea1 = document.getElementById("header3");

if (ibeCount != 0) {
  var h21 = document.createElement("h2");
  h21.innerText = iheadArr[0];
  interviewhea1.appendChild(h21);
  for (var ibe = 0; ibe < ibeCount; ibe++){
    var h31 = document.createElement("h3");
    h31.innerText = interviewTstVars2[ibe];
    interviewhea1.appendChild(h31);
  }
}


if (iexCount != 0){
  var h22 = document.createElement("h2");
  h22.innerText = iheadArr[1];
  interviewhea1.appendChild(h22);
  for (var iex = ibeCount; iex < ibeCount+iexCount; iex++){
    var h32 = document.createElement("h3");
    h32.innerText = interviewTstVars2[iex];
    interviewhea1.appendChild(h32);
  }
}

if (iskCount != 0){
  var h23 = document.createElement("h2");
  h23.innerText = iheadArr[2];
  interviewhea1.appendChild(h23);
  for (var isk = iexCount+ibeCount; isk < ibeCount+iexCount+sikCount; isk++){
    var h33 = document.createElement("h3");
    h33.innerText = interviewTstVars2[<i></i>sk];
    interviewhea1.appendChild(h33);
  }
}




if (istCount != 0){
  var h24 = document.createElement("h2");
  h24.innerText = iheadArr[3];
  interviewhea1.appendChild(h24);
  for (var ist = iskCount+iexCount+ibeCount; ist < iskCount+iexCount+ibeCount+istCount; ist++){
    var h34 = document.createElement("h3");
    h34.innerText = interviewTstVars2[ist];
    interviewhea1.appendChild(h34);
  }
}


  // function checkCheckboxesInt() {
  //   var interviewCheck = [];
  //
  //   var checkboxInt = document.getElementsByTagName('input');
  //   console.log(checkboxInt)
  //   for (i = 0; i < checkboxInt.length; i++) {
  //     if (checkboxInt[i].type == 'checkbox' && checkboxInt[i].checked ) {
  //       interviewCheck.push(checkboxInt[i].id,checkboxInt[i].name,checkboxInt[i].value);
  //       window.sessionStorage.setItem("interviewCheck", JSON.stringify(interviewCheck));
  //     }
  //   }
  // }


</script>


{% endblock %}
