{% extends "layouts/main.html" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
Select your criteria – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}
{% set strengthsfull = [
  ['Challenger','You can bring a fresh perspective whatever the situation or context. You see other peoples views and can appreciate there are many different angles to consider'],
  ['Strategic','You look at the big picture and consider the wider factors and long term implications of decisions'],
  ['Mission','You pursue things which give you a sense of meaning and purpose, working towards a longer term goal'],
  ['Visionary','You create and share a clear vision of the future'],
  ['Change agent','You are positive and inspirational in leading and supporting others through change'],
  ['Authentic','You are self-aware and true to yourself in all situations, even when under pressure'],
  ['Emotionally intelligent','You draw insight from your own emotions and those of others to demonstrate empathy'],
  ['Inclusive','You recognise everyone as an individual, accepting people for who they are and treating everyone fairly. You actively encourage and provide opportunities for others to share ideas and contributions'],
  ['Influencer','You influence others, you articulate the rationale to gain their agreement'],
  ['Problem solver','You take a positive approach to tackling problems and find ways to identify suitable solutions'],
  ['Catalyst','You are self-motivated to act to achieve a goal. You are confident using your own initiative to take forward actions'],
  ['Enabler','You see the potential in everybody and encourage them to learn, progress and develop'],
  ['Motivator','You are highly driven and inspire others to move things along and make things happen'],
  ['Adaptable','You can adapt to variations in work or environment and your effectiveness is not impacted by change. You are flexible and versatile and act as an advocate for change'],
  ['Disciplined','You follow processes, operating firmly within set standards, rules and guidelines'] ] %}

  {% set strengths = [
    ['Authentic','You are self-aware and true to yourself in all situations, even when under pressure'],
    ['Catalyst','You are self-motivated to act to achieve a goal. You are confident using your own initited by change. You are flexible and versatile and act as an advocate for change'],
    ['Mission','You pursue things which give you a sense of meaning and purpose, working towards a longer term goal'] ] %}



<form class="form" action="/check-next-step" method="post">

<H2 class="govuk-heading-l govuk-!-margin-top-3 govuk-!-margin-bottom-0">Select the success profile elements you will assess at sift and interview</h2>

  <H1 style="padding-top:20px;padding-bottom:5px;border-bottom:1px solid #1d70b8; " class="govuk-heading-xl govuk-!-margin-top-3 govuk-!-margin-bottom-6">Strengths</H1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter" style="width:20%">

      {% for items in data['selected'] %}
      <ul class="govuk-!-margin-top-6 govuk-list govuk-list--bullet- ">

        {% if items == "strengths" %}
        <li><strong><p style ="border-left:5px solid #1d70b8;padding-left:30px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="select-{{items | lower}}"><strong>{{ items }}</a></p></strong></li>
        {% else %}
        <li><strong><p style ="border-left:2px solid white;padding-left:20px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="select-{{items | lower}}"><strong>{{ items }}</a></p></strong></li>
      </ul>


      {% endif %}
      {% endfor %}

    </div>
    <div class="govuk-grid-column-three-quarters" style="width:80%;">
      <div id="strengths" style="padding:10px;">
        <p class="govuk-body-m govuk-!-margin-top-4 govuk-!-margin-bottom-6"><strong>You can search the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717274/CS_Strengths_2018.pdf">strengths dictionary</a> for what you would like to assess at sift and interview.</strong></p>
        <div id="strengths" style="padding-bottom:30px;">
            <div class="govuk-grid-row govuk-!-margin-top-6  govuk-!-margin-right-9">

          <div class="govuk-grid-column-three-quarters">

            {{ govukInput({
              label: {
                text: 'Search the strengths dictionary'
              },
              id: "searchwhat",
              name: "searchwhat",
              value: data['searchwhat'],
              classes: "govuk-input--width-40",
              autocomplete: "search-term-input"
            }) }}
          </div>
          <div class="govuk-grid-column-one-quarter govuk-!-margin-top-6" style="float:left">
            {{ govukButton({
              text: "Search",
              href: "#",
              classes: "govuk-button--secondary"
            }) }}

          </div>
</div>
<div  style="width:80%">
<hr class="govuk-!-margin-top-6">
  <dl class="govuk-summary-list--no-border">
    <div  class="govuk-summary-list__row">

      <dt  class="govuk-summary-list__key" style="width:20%">
        <ul class="govuk-list govuk-list" style="font-size:18px">
        <strong><li style="min-height:60px">Authentic</li></strong>
        <strong><li style="min-height:80px">Catalyst</li></strong>
        <strong><li style="min-height:60px">Mission</li></strong>
        </ul>
      </dt>
      <dd  class="govuk-summary-list__value" style="width:50%">
        <ul class="govuk-list govuk-list" style="font-size:18px">
        <li style="min-height:60px">You are self-aware and true to yourself in all situations, even when under pressure</li>
        <li style="min-height:80px">You are self-motivated to act to achieve a goal. You are confident using your own initiative to take forward actions</li>
        <li style="min-height:60px">You pursue things which give you a sense of meaning and purpose, working towards a longer term goal</li>
        </ul>

      </dd>

      <dd class="govuk-summary-list__actions" style="width:20%">
        <p style="min-height:60px;font-size:18px" class="govuk-body-m"><a href="#">remove</a></p>
        <p style="min-height:80px;font-size:18px" class="govuk-body-m"><a href="#">remove</a></p>
        <p style="min-height:60px;font-size:18px" class="govuk-body-m"><a href="#">remove</a></p>
      </dd>
    </div>
  </dl>

</div>


</div>
<div style="display:none" class="govuk-!-margin-top-9">




  {% for title, description in strengths %}
  <div  style="">
    {{ govukCheckboxes({
      idPrefix: "selected-types",
      id: "criteria-strengths",
      name: "criteria[strengths]",
      classes: "govuk-checkboxes",
      fieldset: {
        legend: {
          text: "",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
      {
        value: title,
        text: title,
        checked: checked("criteria[strengths]", title),
        checked: checked,
        hint: {
          text: description
        }
      }
      ]
    }) }}
  </div>
  {% endfor %}







            </div>
            {{ govukButton({
              classes: "govuk-!-margin-top-6",
              text: "Continue"
            }) }}
      </div>
    </div>
  </div>

  <input type="hidden" name="source" value="strengths">
</FORM>

{% endblock %}
